<template>
  <div>
    <div class="wrap-routine-donation-index">
      <!-- base navbar -->
      <base-navbar :title="$t('routine_donation.lang29')" />

      <div class="px-4">
        <!-- cover campaign -->
        <div class="wrap-campaign-title">
          <div
            class="wrap-cover-campaign"
            :style="
              `background: url(${coverDummy}) no-repeat; background-size: cover;`
            "
          />
          <!-- title and status -->
          <div class="flex flex-grow flex-col justify-between">
            <div class="title-campaign font-medium flex items-start">
              <span>
                Wujudkan Mimpi Anak Yatim Meraih Cita-Citanya Wujudkan Mimpi
                Anak Yatim Meraih Cita-Citanya
              </span>
            </div>
          </div>
        </div>
        <!-- end cover campaign -->
        <!-- section 2 -->
        <!-- choose amount -->
        <div class="font-bold pt-3 pb-1">
          {{ $t("routine_donation.lang15") }}
        </div>
        <div class="text-sm text-app-label-4">
          {{ $t("routine_donation.lang16") }}
        </div>
        <div class="wrap-select-amount pt-3">
          <div
            class="category mb-4"
            v-for="(data, index) in selectAmount"
            :key="index"
            :class="index % 2 == 0 ? 'mr-2' : 'ml-2'"
            :active="amountFormat(data.amount) === amount"
            @click="chooseAmount(data.amount)"
          >
            <div class="pb-2">Rp {{ amountFormat(data.amount) }}</div>
            <div class="line"></div>
          </div>
        </div>
        <!-- input manual -->
        <div
          class="border border-app-border p-3 flex justify-between items-center rounded-md"
        >
          <div class="font-bold w-1/2">{{ $t("routine_donation.lang17") }}</div>
          <div class="flex w-1/2 items-center bg-app-input pl-3 rounded-md">
            <div class="mr-2 font-bold">Rp</div>
            <input
              type="tel"
              v-model.lazy="amount"
              class="input font-bold text-right"
              v-money="money"
            />
          </div>
        </div>
        <!-- end section 2 -->

        <!-- section 3 -->
        <div class="font-bold pt-3 pb-1">
          {{ $t("routine_donation.lang18") }}
        </div>
        <div class="text-sm text-app-label-4">
          {{ $t("routine_donation.lang19") }}
        </div>
        <div class="flex mt-4">
          <div
            class="flex justify-between items-center border border-app-primary py-3 px-4 rounded-md w-3/5 mr-3 cursor-pointer"
            @click="bottomSheetPeriod = true"
          >
            <span class="capitalize font-medium">{{ period }}</span>
            <img
              src="@/assets/img/general/icon-chevron-bottom.svg"
              alt="chevron bottom"
              class="w-3"
            />
          </div>
          <!-- date -->
          <div
            v-show="period === 'monthly'"
            class="flex justify-between items-center border border-app-primary py-3 px-4 rounded-md w-2/5 cursor-pointer"
            @click="bottomSheetDate = true"
          >
            <span class="font-medium">{{ $t("global.date") }}</span>
            <div class="flex items-center">
              <span class="mr-2 font-medium text-app-primary">{{ date }}</span>
              <img
                src="@/assets/img/general/icon-chevron-bottom.svg"
                alt="chevron bottom"
                class="w-3"
              />
            </div>
          </div>
          <!-- day -->
          <div
            v-show="period === 'weekly'"
            class="flex justify-between items-center border border-app-primary py-3 px-4 rounded-md w-2/5 cursor-pointer"
            @click="bottomSheetDay = true"
          >
            <div class="flex justify-between items-center w-full">
              <span class="mr-2 font-medium">{{ day.name }}</span>
              <img
                src="@/assets/img/general/icon-chevron-bottom.svg"
                alt="chevron bottom"
                class="w-3"
              />
            </div>
          </div>
        </div>
        <!-- end section 3 -->

        <!-- section 4 -->
        <div>
          <div class="font-bold pt-3 pb-3">
            {{ $t("routine_donation.lang20") }}
          </div>
          <div class="text-sm pb-1 font-medium">
            {{ $t("global.payment_method") }}
          </div>

          <div
            class="input-choice mb-4 cursor-pointer"
            @click="bottomSheetPayment = true"
          >
            <!-- if user already payment method -->
            <div
              class="flex items-center w-full h-full"
              v-if="paymentMethod.bank_code"
            >
              <!-- logo payment -->
              <img
                :src="JSON.parse(paymentMethod.image).image"
                alt="logo payment"
                class="other-logo mr-3"
              />

              <!-- name payment -->
              <div class="text-app-label font-medium mr-3">
                {{ paymentMethod.channel_name }}
              </div>

              <!-- type routine donation subscription / notification -->
              <div class="text-app-label-4" v-show="subscription === 1">
                {{ $t("global.subscription_arg", {}) }}
              </div>
              <div class="text-app-label-4" v-show="subscription === 2">
                {{ $t("routine_donation.lang21") }}
              </div>
            </div>

            <!-- if user not ready payment method -->
            <div class="placeholder" v-else>
              {{ $t("global.choose") }}
            </div>

            <!-- icon chevron right -->
            <img
              src="@/assets/img/general/icon-chevron-right.svg"
              alt="icon right"
            />
          </div>
        </div>
        <!-- end section 4 -->

        <!-- button confirm -->
        <div class="wrap-next">
          <div class="absolute bottom-0 left-0 w-full bg-white">
            <div class="divider"></div>
            <div class="py-3 px-5">
              <button
                class="btn-fill xl"
                @click="bottomSheetDetail = true"
                :disabled="isDisabled"
              >
                <span>{{ $t("global.confirm") }}</span>
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- bottom sheet Date -->
      <bottom-sheet
        :title="$t('global.date')"
        v-show="bottomSheetDate"
        @close="bottomSheetDate = false"
      >
        <div>
          <date-list @choosedItems="choosedDate" :choosed="date" />
        </div>
      </bottom-sheet>

      <!-- bottom sheet Day -->
      <bottom-sheet
        :title="$t('global.day')"
        v-show="bottomSheetDay"
        @close="bottomSheetDay = false"
      >
        <div>
          <day-list @choosedItems="choosedDay" :choosed="day" />
        </div>
      </bottom-sheet>

      <!-- bottom sheet Period -->
      <bottom-sheet
        :title="$t('global.period')"
        v-show="bottomSheetPeriod"
        @close="bottomSheetPeriod = false"
      >
        <div>
          <period-list @choosedItems="choosedPeriod" :choosed="period" />
        </div>
      </bottom-sheet>

      <!-- bottom sheet payment method -->
      <bottom-sheet
        :title="$t('global.payment_method')"
        v-show="bottomSheetPayment"
        @close="bottomSheetPayment = false"
      >
        <div>
          <payment-list
            :datas="paymentMethodList"
            @choosedItems="choosePayment"
            :routine-donation="true"
            :choosed="paymentMethod"
            :gopay-balance="balance"
          />
        </div>
      </bottom-sheet>

      <!-- bottom sheet payment method -->
      <bottom-sheet
        :title="
          `${$t('routine_donation.lang30')} - ${
            subscription == 1
              ? $t('global.subscription_arg', {})
              : $t('global.notification')
          }`
        "
        small
        v-show="bottomSheetDetail"
        @close="bottomSheetDetail = false"
      >
        <div class="px-4">
          <!-- cover and title -->
          <div class="wrap-campaign-title detail">
            <div
              class="wrap-cover-campaign detail"
              :style="
                `background: url(${coverDummy}) no-repeat; background-size: cover;`
              "
            />
            <!-- title and status -->
            <div class="flex flex-grow flex-col justify-between">
              <div class="title-campaign font-medium flex items-start">
                <span class="text-xs">
                  Wujudkan Mimpi Anak Yatim Meraih Cita-Citanya Wujudkan Mimpi
                  Anak Yatim Meraih Cita-Citanya
                </span>
              </div>
            </div>
          </div>

          <!-- description -->
          <!-- donation amount -->
          <div class="flex justify-between text-sm pb-2 pt-3">
            <div class="font-medium">{{ $t("global.donation_amount") }}</div>
            <div class="font-bold">Rp {{ amount }}</div>
          </div>
          <!-- payment method -->
          <div class="flex justify-between text-sm pb-2">
            <div class="font-medium">{{ $t("global.payment_method") }}</div>
            <div class="font-bold">{{ paymentMethod.channel_name }}</div>
          </div>
          <!-- Billing -->
          <div class="flex justify-between text-sm pb-3">
            <div class="font-medium">{{ $t("global.billing_date") }}</div>
            <div class="font-bold capitalize">
              <span>{{ period }} - </span>
              <span class="capitalize" v-if="period === 'weekly'">{{
                day.name
              }}</span>
              <span v-else>{{ date }}</span>
            </div>
          </div>
          <!-- Activate -->
          <button class="btn-fill xl mb-4" @click="modalActivated = true">
            <span>{{ $t("global.activate") }}</span>
          </button>
        </div>
      </bottom-sheet>
      <!-- end bottom sheet payment method -->

      <!-- modal activated -->
      <modal v-show="modalActivated" @close="modalActivated = false">
        <div class="px-4 text-sm">
          <img src="@/assets/img/donation/routine/thanks.svg" alt="thanks" />
          <div class="font-bold pt-2">{{ $t("routine_donation.lang22") }}</div>
          <div class="pt-2">
            {{ $t("routine_donation.lang23") }}
            <span class="font-bold" v-if="period === 'weekly'"
              >{{ $t("routine_donation.lang24") }} {{ day.name }}</span
            >
            <span class="font-bold" v-else>{{
              $t("routine_donation.lang25", { data: ordinalSuffix(date) })
            }}</span>
          </div>
          <div class="pt-2">
            {{ $t("routine_donation.lang26") }}
            <span class="font-bold">{{ $t("routine_donation.lang27") }}.</span>
          </div>
          <div class="flex justify-center items-center pt-3 pb-4">
            <button
              class="btn-outlined mr-2 lg w-1/2"
              @click="modalActivated = false"
            >
              {{ $t("global.settings") }}
            </button>
            <button class="btn-other-routine ml-2 lg w-1/2">
              {{ $t("routine_donation.lang28") }}
            </button>
          </div>
        </div>
      </modal>
      <!-- end modal activated -->
    </div>
  </div>
</template>
<script>
// base
import BaseNavbar from "@/components/Base/Navbar.vue";
import DateList from "@/components/Base/DateList.vue";
import BottomSheet from "@/components/Base/BottomSheet.vue";
import Modal from "@/components/Base/Modal.vue";
import PaymentList from "@/components/Base/PaymentList.vue";

// component
import PeriodList from "@/components/Donation/Routine/PeriodList.vue";
import DayList from "@/components/Donation/Routine/DayList.vue";

// utils
import { amountFormat, ordinalSuffix } from "@/mixins/utils";
import { VMoney } from "v-money";

// lodash
import { cloneDeep } from "lodash";

export default {
  name: "RoutineDonationAdd",

  directives: { money: VMoney },

  components: {
    BaseNavbar,
    DateList,
    BottomSheet,
    PeriodList,
    DayList,
    PaymentList,
    Modal
  },

  computed: {
    isDisabled: function() {
      let amount = this.amount + "";
      let result = true;
      if (this.date || this.day) {
        if (Number(amount.replaceAll(".", "")) >= 2000) {
          if (this.paymentMethod.bank_code) {
            result = false;
          }
        }
      }

      return result;
    }
  },

  data: () => ({
    amount: "",
    period: "monthly",
    day: {
      id: 1,
      name: "Monday"
    },
    date: 1,
    paymentMethod: { bank_code: "" },
    subscription: 0,
    bottomSheetPeriod: false,
    bottomSheetDate: false,
    bottomSheetDay: false,
    bottomSheetPayment: false,
    bottomSheetDetail: false,
    modalActivated: false,
    paymentMethodList: [],
    balance: 0,
    money: {
      decimal: ",",
      thousands: ".",
      prefix: "",
      suffix: "",
      precision: 0,
      masked: false /* doesn't work with directive */
    },
    selectAmount: [
      {
        amount: 15000
      },
      {
        amount: 30000
      },
      {
        amount: 75000
      },
      {
        amount: 100000
      }
    ],
    coverDummy:
      "https://res.cloudinary.com/dqgl4hkkx/image/fetch/c_fill,g_faces:center,f_auto,ar_4:3/https%3A%2F%2Fres.cloudinary.com%2Fdqgl4hkkx%2Fimage%2Fauthenticated%2Fs--jYYzHs9R--%2Fa_ignore%2Cc_scale%2Cf_auto%2Cq_auto%2Cw_300%2Fv1569491812%2Fsfuz7lqfudpeb9aout8j.webp"
  }),

  methods: {
    amountFormat,
    ordinalSuffix,
    choosedDate(val) {
      this.date = val;
      this.bottomSheetDate = false;
    },
    choosedDay(val) {
      this.day = val;
      this.bottomSheetDay = false;
    },
    choosedPeriod(val) {
      this.period = val;
      this.bottomSheetPeriod = false;
    },
    startDonation() {
      // this.$router.push({ name: "RoutineDonationCampaignList" });
    },
    chooseAmount(val) {
      this.amount = val;
    },
    choosePayment(val) {
      if (val.subscription) {
        this.subscription = 1;
        this.paymentMethod = val;
      } else {
        this.subscription = 2;
        this.paymentMethod = val;
      }

      this.bottomSheetPayment = false;
    },
    gopayBalance() {
      this.$showLoading();
      this.$store
        .dispatch("gopay/gopayBalance", {})
        .then(res => {
          if (res === null) {
            this.balance = 0;
          } else {
            this.balance = Number(res.GopayBalance);
          }
        })
        .catch(() => {})
        .finally(() => {
          this.$hideLoading();
        });
    },
    getPaymentMethodList() {
      this.$showLoading();
      this.$store
        .dispatch("routine/fetchListPaymentMethod")
        .then(res => {
          this.paymentMethodList = res;

          // handle bug background not active, if gopay notif change to gopay subscription
          let copyGopay = cloneDeep(res[0]);
          this.paymentMethodList.push(copyGopay);
        })
        .catch(e => {
          this.$showNotification(e.msg);
        })
        .finally(() => {
          this.$hideLoading();
        });
    }
  },

  created() {
    this.gopayBalance();
    this.getPaymentMethodList();
  }
};
</script>
<style lang="scss" scoped>
.wrap-routine-donation-index {
  min-height: calc(100vh - 56px);
  box-shadow: #ccc 0 2px 4px 0;
  padding-bottom: 80px;

  .wrap-campaign-title {
    @apply flex;
    @apply pt-3 pb-4;
    border-bottom: 1px solid #d1d5db;

    &.detail {
      @apply border;
      @apply p-3;
      @apply pb-2;
    }

    .wrap-cover-campaign {
      @apply mr-4;
      @apply flex-none;
      @apply rounded-md;
      width: 135px;
      height: 90px;
      @apply sm:w-32;
      @apply sm:h-24;

      &.detail {
        width: 100px;
        height: 60px;
        @apply rounded-sm;
      }
    }

    .title-campaign {
      @apply overflow-ellipsis;
      @apply overflow-hidden;
      @apply w-full;
      max-height: 90px;
      @apply sm:h-auto;
      @apply font-bold;

      img {
        @apply w-5;
        @apply pt-2;
        @apply ml-2;
        @apply cursor-pointer;
      }
    }
  }

  .wrap-select-amount {
    @apply flex flex-wrap;

    .category {
      @apply cursor-pointer;
      @apply rounded-md;
      @apply bg-white;
      @apply border border-app-border;
      @apply inline-block;
      @apply font-bold;
      @apply text-center;
      @apply pt-4 pb-2 px-3;
      width: calc(50% - 8px);

      .line {
        @apply w-full;
        @apply h-6;
        @apply bg-app-border;
        @apply rounded;
      }

      &[active="true"] {
        @apply border-app-primary;

        .line {
          @apply bg-app-primary;
        }
      }
    }
  }

  .btn-other-routine {
    @apply bg-app-primary text-white;
    @apply hover:bg-app-primary-hover;
    @apply border border-app-primary;
    @apply rounded-lg;
    @apply text-sm;
    @apply font-medium;
    @apply w-full;
    transition: 0.3s;
    height: 46px;
  }
}
</style>
