<template>
  <div class="routine-donation-campaign-list">
    <base-navbar :title="$t('routine_donation.lang4')" />
    <div>
      <div class="bg-app-input pb-3">
        <!-- slide category -->
        <div class="wrap-category pt-3">
          <div
            class="category ml-3"
            @click="campaignTag(-1)"
            :active="activeIndex === -1"
          >
            {{ $t("global.all_category") }}
          </div>
          <div
            class="category"
            :active="index === activeIndex"
            @click="campaignTag(index)"
            v-for="index in 5"
            :key="index"
          >
            Campaign Tag
          </div>
        </div>
        <!-- end slide category -->

        <!-- routine donation description -->
        <div class="bg-app-secondary text-app-primary rounded-md mx-3 mt-3 p-3">
          <div class="font-bold pb-1">{{ $t("routine_donation.lang1") }}</div>
          <div>
            {{ $t("routine_donation.lang10") }}
          </div>
        </div>
      </div>
      <!-- end routine donation description -->

      <!-- card campaign -->
      <div class="pt-4"></div>
      <div v-if="availableTag">
        <div class="card-campaign" v-for="i in 4" :key="i">
          <!-- header -->
          <div
            class="header"
            :style="
              `background: url(${coverDummy}) no-repeat center; background-size: cover;`
            "
          >
            <div class="overlay z-0"></div>
            <div class="z-10">
              <div class="font-bold pb-1 sm:pb-0">
                Judul Campaign donasi / Penggalang
              </div>
              <div class="flex items-center">
                <span class="mr-1"> {{ $t("global.campaigner") }}</span>
                <img
                  src="@/assets/img/general/icon-org.svg"
                  alt="icon org"
                  class="w-5 mr-1"
                />
                <img
                  src="@/assets/img/general/icon-verified.svg"
                  alt="icon verified"
                  class="h-4"
                />
              </div>
            </div>
          </div>
          <!-- end header -->
          <!-- footer -->
          <div class="footer flex items-center pt-4 pb-3">
            <div class="w-1/2 text-center border-r py-3">
              <div class="font-bold">Rp 260.389.000</div>
              <div class="text-app-label-4">
                {{ $t("routine_donation.lang11") }}
              </div>
            </div>
            <div class="w-1/2 text-center">
              <div class="font-bold">Donatur Rutin</div>
              <div class="font-bold">3.590</div>
              <div class="text-app-label-4">
                {{ $t("routine_donation.lang12") }}
              </div>
            </div>
          </div>
          <!-- end footer -->
        </div>
      </div>
      <!-- end card campaign -->
      <!-- tag not available -->
      <div class="wrap-tag-no-available" v-else>
        <img
          src="@/assets/img/donation/routine/campaign-not-available.svg"
          alt="no routine donation"
        />

        <div class="text-center">
          <div class="font-bold text-xl pt-6 pb-3">
            {{ $t("routine_donation.lang13") }}
          </div>
          <div>
            {{ $t("routine_donation.lang14") }}
          </div>
        </div>
        <div class="absolute bottom-0 left-0 w-full bg-white">
          <div class="divider"></div>
          <div class="py-3 px-5">
            <button class="btn-fill xl" @click="campaignTag(-1)">
              {{ $t("global.all_category") }}
            </button>
          </div>
        </div>
      </div>
      <!-- end tag not available -->
    </div>

    <!-- category icon -->
    <!-- <div class="wrap-category-floating">
      <div class="category-floating">
        <img
          src="@/assets/img/donation/routine/category_icon.svg"
          alt="category icon"
        />
        <div>Category</div>
      </div>
    </div> -->
    <!-- end category icon -->
  </div>
</template>
<script>
// base
import BaseNavbar from "@/components/Base/Navbar.vue";

export default {
  name: "RoutineDonationCampaignList",

  components: {
    BaseNavbar
  },

  data: () => ({
    isLoading: false,
    activeIndex: -1,
    availableTag: true,
    coverDummy:
      "https://res.cloudinary.com/dqgl4hkkx/image/fetch/c_fill,g_faces:center,f_auto,ar_16:9/https%3A%2F%2Fres.cloudinary.com%2Fdqgl4hkkx%2Fimage%2Fauthenticated%2Fs--T83p4rxp--%2Fc_fill%2Cg_faces%3Acenter%2Cf_auto%2Cw_1.0%2Car_16%3A9%2Fv1629441806%2Fmmazvz7ryytfakquueex.webp"
  }),

  methods: {
    campaignTag(val) {
      this.activeIndex = val;

      if (val >= 1) {
        this.availableTag = false;
      } else {
        this.availableTag = true;
      }
    }
  }
};
</script>
<style lang="scss" scoped>
.routine-donation-campaign-list {
  min-height: calc(100vh - 56px);
  box-shadow: #ccc 0 2px 4px 0;
  @apply text-sm;
  @apply sm:text-base;
  // @apply pb-14;

  .wrap-category {
    @apply overflow-x-scroll;
    @apply overflow-y-hidden;
    @apply whitespace-nowrap;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
      @apply hidden;
    }
  }

  .category {
    @apply cursor-pointer;
    @apply py-2 px-3;
    @apply rounded-lg;
    @apply bg-white;
    @apply text-app-label-4;
    @apply border border-app-label-4;
    @apply text-sm;
    @apply mr-3;
    @apply inline-block;

    &[active="true"] {
      @apply text-app-primary;
      @apply border-app-primary;
      @apply bg-app-secondary;
    }
  }

  .card-campaign {
    @apply mx-3 pb-4;
    @apply cursor-pointer;

    .header {
      @apply w-full;
      @apply h-28 sm:h-32;
      @apply px-3 pb-2;
      @apply rounded-lg;
      @apply flex;
      @apply flex-col;
      @apply justify-end;
      @apply text-white;
      @apply relative;
      @apply overflow-hidden;

      .overlay {
        @apply absolute;
        @apply w-full h-full;
        @apply left-0 top-0;
        background: rgba($color: #000000, $alpha: 0.3);
      }
    }

    .footer {
      @apply border border-t-0;
      @apply rounded-b-lg;
      margin-top: -5px;
    }
  }

  .wrap-category-floating {
    @apply w-full;
    @apply fixed;
    @apply bottom-4;
    @apply left-0;
    @apply flex justify-center;
    @apply z-30;

    .category-floating {
      @apply cursor-pointer;
      @apply border;
      @apply flex;
      @apply bg-white;
      @apply py-2 px-5;
      @apply font-medium;
      @apply rounded-lg;
      box-shadow: #ccc 0 1px 4px 0;

      img {
        @apply w-5;
        @apply mr-2;
      }
    }
  }

  .wrap-tag-no-available {
    @apply px-4;
    @apply flex;
    @apply flex-col;
    @apply items-center;
    @apply justify-center;
    height: calc(100vh - 329px);

    img {
      width: 50%;
      max-width: 160px;
    }
  }
}
</style>
