<template>
  <div>
    <div class="wrap-routine-donation-index">
      <base-navbar :title="$t('routine_donation.lang1')" />

      <div v-if="counter == 0">
        <no-routine-donation />
      </div>

      <div v-else>
        <routine-donation />
      </div>
    </div>
    <!-- button -->
    <div class="wrap-next">
      <div class="fixed bottom-0 left-0 w-full bg-white">
        <div class="divider"></div>
        <div class="py-3 px-5">
          <button class="btn-fill xl" @click="startDonation">
            <!-- no routine donation -->
            <span v-if="counter == 0">{{ $t("global.start_now") }}</span>
            <!-- routine donation -->
            <span v-else>{{
              $t("global.add_arg", { data: $t("routine_donation.lang1") })
            }}</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
// base
import BaseNavbar from "@/components/Base/Navbar.vue";

// component
import NoRoutineDonation from "@/components/Donation/Routine/NoRoutineDonation.vue";
import RoutineDonation from "@/components/Donation/Routine/RoutineDonation.vue";

export default {
  name: "RoutineDonationIndex",

  components: {
    BaseNavbar,
    NoRoutineDonation,
    RoutineDonation
  },

  data: () => ({
    counter: 1
  }),

  methods: {
    startDonation() {
      this.$router.push({ name: "RoutineDonationCampaignList" });
    }
  }
};
</script>
<style lang="scss" scoped>
.wrap-routine-donation-index {
  min-height: calc(100vh - 56px);
  box-shadow: #ccc 0 2px 4px 0;
}
</style>
