<template>
  <div>
    <div class="date-list">
      <div
        class="items"
        :class="choosed.id === data.id ? 'bg-app-secondary' : ''"
        v-for="(data, index) in dayList"
        :key="index"
        @click="choosedItems(data)"
      >
        <p
          class="pl-3 font-bold capitalize"
          :class="choosed.id === data.id ? 'font-bold text-app-primary' : ''"
        >
          {{ data.name }}
        </p>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "DayList",

  computed: {
    dayList: function() {
      let list = [
        {
          id: 1,
          name: this.$t("day.monday")
        },
        {
          id: 2,
          name: this.$t("day.tuesday")
        },
        {
          id: 3,
          name: this.$t("day.wednesday")
        },
        {
          id: 4,
          name: this.$t("day.thursday")
        },
        {
          id: 5,
          name: this.$t("day.friday")
        },
        {
          id: 6,
          name: this.$t("day.saturday")
        },
        {
          id: 7,
          name: this.$t("day.sunday")
        }
      ];
      return list;
    }
  },

  props: {
    choosed: {
      type: Object,
      default: () => {}
    }
  },

  methods: {
    choosedItems(val) {
      this.$emit("choosedItems", val);
    }
  }
};
</script>
<style lang="scss" scoped>
.date-list {
  @apply overflow-auto;
  @apply max-h-64;

  .items {
    @apply px-4;
    @apply text-base;
    @apply h-12;
    @apply flex;
    @apply items-center justify-center;
    @apply cursor-pointer;
    @apply hover:bg-app-secondary;
    border-bottom: 1px solid #eee;

    &:last-child {
      @apply border-b-0;
    }
  }
}
</style>
