<template>
  <div class="wrap-no-routine-donation">
    <div class="flex flex-col justify-center items-center">
      <img
        src="@/assets/img/donation/routine/no_routine_donation.svg"
        alt="no routine donation"
      />

      <div class="text-center">
        <div class="font-bold text-xl pt-6 pb-3">
          {{ $t("routine_donation.lang2") }}
        </div>
        <div>{{ $t("routine_donation.lang3") }}</div>
      </div>
      <div class="h-28"></div>
    </div>
  </div>
</template>
<script>
export default {
  name: "NoRoutineDonationComponent",

  methods: {
    startDonation() {
      this.$router.push({ name: "" });
    }
  }
};
</script>
<style lang="scss" scoped>
.wrap-no-routine-donation {
  @apply px-4;
  @apply flex;
  @apply flex-col;
  @apply items-center;
  @apply justify-center;
  min-height: calc(100vh - 56px);

  img {
    width: 50%;
    max-width: 200px;
  }
}
</style>
