<template>
  <div>
    <div class="date-list">
      <div
        class="items"
        :class="choosed === data.name ? 'bg-app-secondary' : ''"
        v-for="(data, index) in periodList"
        :key="index"
        @click="choosedItems(data.name)"
      >
        <p
          class="pl-3 font-bold capitalize"
          :class="choosed === data.name ? 'font-bold text-app-primary' : ''"
        >
          {{ data.name }}
        </p>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "PeriodList",

  data: () => ({
    periodList: [
      {
        name: "monthly"
      },
      {
        name: "weekly"
      }
    ]
  }),

  props: {
    choosed: {
      type: String,
      default: ""
    }
  },

  methods: {
    choosedItems(val) {
      this.$emit("choosedItems", val);
    }
  }
};
</script>
<style lang="scss" scoped>
.date-list {
  @apply overflow-auto;
  @apply max-h-64;

  .items {
    @apply px-4;
    @apply text-base;
    @apply h-12;
    @apply flex;
    @apply items-center justify-center;
    @apply cursor-pointer;
    @apply hover:bg-app-secondary;
    border-bottom: 1px solid #eee;

    &:last-child {
      @apply border-b-0;
    }
  }
}
</style>
