<template>
  <div class="wrap-routine-donation-component">
    <div class="wrap-list" v-for="i in 4" :key="i">
      <div class="pt-4">
        <div class="">
          <!-- header -->
          <div class="card-header">
            <!-- cover campaign -->
            <div
              class="wrap-cover-campaign"
              :style="
                `background: url(${coverDummy}) no-repeat; background-size: cover;`
              "
            />
            <!-- title and status -->
            <div class="flex flex-grow flex-col justify-between max-h-24">
              <div class="title-campaign font-medium flex items-start">
                <span>
                  Wujudkan Mimpi Anak Yatim Meraih Cita-Citanya Wujudkan Mimpi
                  Anak Yatim Meraih Cita-Citanya
                </span>

                <!-- option button -->
                <img
                  src="@/assets/img/donation/routine/option_button.svg"
                  alt="option button"
                  @click="option"
                />
              </div>
              <div class="text-sm sm:text-base">
                Status :
                <span v-if="i % 2 == 0" class="font-bold text-app-primary"
                  >Active</span
                >
                <span v-else class="font-bold text-app-inactive">Inactive</span>
              </div>
            </div>
          </div>
          <!-- body -->
          <div class="card-body">
            <div class="flex justify-between pb-0.5">
              <div>{{ $t("global.donation_amount") }}</div>
              <div class="font-bold">Rp 20.000</div>
            </div>
            <div class="flex justify-between pb-0.5">
              <div>{{ $t("global.payment_method") }}</div>
              <div class="font-bold">GO-PAY (Iuran)</div>
            </div>
            <div class="flex justify-between pb-0.5">
              <div>{{ $t("global.billing_date") }}</div>
              <div class="font-bold">27</div>
            </div>
            <div class="flex justify-between pb-0.5">
              <div>{{ $t("global.donation_amount") }}</div>
              <div class="font-bold">7x / Rp 140.000</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- bottom sheet payment method -->
    <bottom-sheet
      :title="$t('global.payment_method')"
      v-show="bottomSheetPayment"
      @close="bottomSheetPayment = false"
    >
      <div>
        <payment-list
          :datas="paymentMethodList"
          @choosedItems="choosePayment"
          :routine-donation="true"
          :choosed="paymentMethod"
          :gopay-balance="balance"
        />
      </div>
    </bottom-sheet>

    <!-- bottom sheet setting campaign -->
    <bottom-sheet
      title=""
      v-show="bottomSheetSetting"
      @close="bottomSheetSetting = false"
    >
      <div class="wrap-settings">
        <div class="items" @click="openPaymentMethod()">
          <img
            src="@/assets/img/donation/routine/payment_method.svg"
            alt="icon payment method"
          />
          <p class="pl-4">
            {{ $t("global.edit_arg", { data: $t("global.payment_method") }) }}
          </p>
        </div>
        <div class="items" @click="openModalStopDonation()">
          <img
            src="@/assets/img/donation/routine/close_grey.svg"
            alt="icon close"
          />
          <p class="pl-4">
            {{ $t("global.stop_arg", { data: $t("routine_donation.lang1") }) }}
          </p>
        </div>
      </div>
    </bottom-sheet>

    <!-- modal payment -->
    <modal
      :title="$t('global.stop_arg', { data: $t('routine_donation.lang1') })"
      v-show="stopRoutineDonation"
      @close="stopRoutineDonation = false"
    >
      <div class="px-4">
        <span>
          {{ $t("routine_donation.lang6") }}
        </span>
        <div class="flex justify-center items-center pt-3 pb-4">
          <button class="btn-fill mr-2 lg w-1/2">
            {{ $t("global.yes") }}, {{ $t("global.stop_arg", {}) }}
          </button>
          <button
            class="btn-outlined ml-2 lg w-1/2"
            @click="stopRoutineDonation = false"
          >
            {{ $t("global.cancel") }}
          </button>
        </div>
      </div>
    </modal>
    <!-- end modal payment -->
  </div>
</template>
<script>
import BottomSheet from "@/components/Base/BottomSheet.vue";
import Modal from "@/components/Base/Modal.vue";
import PaymentList from "@/components/Base/PaymentList.vue";

// lodash
import { cloneDeep } from "lodash";

export default {
  name: "RoutineDonationComponent",

  components: {
    BottomSheet,
    Modal,
    PaymentList
  },

  data: () => ({
    bottomSheetPayment: false,
    bottomSheetSetting: false,
    stopRoutineDonation: false,
    modalPayment: false,
    paymentMethodList: [],
    paymentMethod: { bank_code: "" },
    subscription: 0,
    balance: 0,
    coverDummy:
      "https://res.cloudinary.com/dqgl4hkkx/image/fetch/c_fill,g_faces:center,f_auto,ar_4:3/https%3A%2F%2Fres.cloudinary.com%2Fdqgl4hkkx%2Fimage%2Fauthenticated%2Fs--jYYzHs9R--%2Fa_ignore%2Cc_scale%2Cf_auto%2Cq_auto%2Cw_300%2Fv1569491812%2Fsfuz7lqfudpeb9aout8j.webp"
  }),

  methods: {
    choosePayment(val) {
      if (val.subscription) {
        this.subscription = 1;
        this.paymentMethod = val;
      } else {
        this.subscription = 2;
        this.paymentMethod = val;
      }

      this.bottomSheetPayment = false;
    },
    option() {
      this.bottomSheetSetting = true;
    },
    openPaymentMethod() {
      this.bottomSheetSetting = false;
      this.bottomSheetPayment = true;
    },
    openModalStopDonation() {
      this.bottomSheetSetting = false;
      this.stopRoutineDonation = true;
    },
    gopayBalance() {
      this.$showLoading();
      this.$store
        .dispatch("gopay/gopayBalance", {})
        .then(res => {
          if (res === null) {
            this.balance = 0;
          } else {
            this.balance = Number(res.GopayBalance);
          }
        })
        .catch(() => {})
        .finally(() => {
          this.$hideLoading();
        });
    },
    getPaymentMethodList() {
      this.$showLoading();
      this.$store
        .dispatch("routine/fetchListPaymentMethod")
        .then(res => {
          this.paymentMethodList = res;

          // handle bug background not active, if gopay notif change to gopay subscription
          let copyGopay = cloneDeep(res[0]);
          this.paymentMethodList.push(copyGopay);
        })
        .catch(e => {
          this.$showNotification(e.msg);
        })
        .finally(() => {
          this.$hideLoading();
        });
    }
  },
  created() {
    this.gopayBalance();
    this.getPaymentMethodList();
  }
};
</script>
<style lang="scss" scoped>
.wrap-routine-donation-component {
  @apply px-4;
  min-height: calc(100vh - 56px);
  padding-bottom: 94px;

  .wrap-cover-campaign {
    @apply mr-4;
    @apply flex-none;
    @apply rounded-md;
    width: 135px;
    height: 90px;
    @apply sm:w-32;
    @apply sm:h-24;
  }

  .wrap-settings {
    .items {
      @apply px-4;
      @apply text-base;
      @apply h-12;
      @apply flex;
      @apply items-center;
      @apply cursor-pointer;
      @apply hover:bg-app-secondary;
      border-bottom: 1px solid #eee;

      img {
        @apply w-4;
        @apply sm:w-5;
      }

      &:last-child {
        @apply border-b-0;
      }
    }
  }

  .wrap-next {
    @apply flex;
    @apply flex-col;
    @apply items-center;
    @apply justify-center;
  }

  .wrap-list {
    .title-campaign {
      @apply text-sm;
      @apply sm:text-base;
      @apply overflow-ellipsis;
      @apply overflow-hidden;
      @apply w-full;
      height: 60px;
      @apply sm:h-auto;

      img {
        @apply w-5;
        @apply pt-2;
        @apply ml-2;
        @apply cursor-pointer;
      }
    }

    .card-header {
      @apply flex;
      @apply border-t;
      @apply border-l;
      @apply border-r;
      @apply rounded-t-md;
      @apply p-3;
    }

    .card-body {
      @apply text-sm;
      @apply py-2 px-4;
      @apply rounded-b-md;
      @apply text-app-label-4;
      background-color: #f3f1f5;
    }
  }
}
</style>
