<template>
  <div>
    <base-navbar :title="$t('quick_donate.lang1')" />
    <div
      class="absolute text-center p-10 w-full md:top-72 top-18"
      v-if="closeBox"
    >
      <p class="font-bold text-xl">Quick Donate</p>
      <p>Cukup 10 detik kamu bisa berikan harapan untuk orang lain</p>
      <img
        @click="closeBox = false"
        class="close-box mx-auto"
        src="@/assets/img/donation/quick/close_box.gif"
      />
      <p class="font-bold mt-6">
        Ketuk box dan lihat jumlah quick donate kamu!
      </p>
    </div>
    <div class="absolute text-center w-full md:top-56 top-28" v-if="!closeBox">
      <p class="font-bold text-xl">Quick Donate Kamu:</p>
      <div class="nominal-wrapper">
        <img
          class="nominal-box mx-auto"
          src="@/assets/img/donation/quick/nominal.svg"
        />
        <p class="font-black text-4xl text-white -mt-14 text-center">
          Rp{{ amountFormat(nominal) }}
        </p>
      </div>
      <img
        class="open-box mx-auto mt-12"
        src="@/assets/img/donation/quick/open_box.gif"
      />
    </div>
    <div>
      <img src="@/assets/img/donation/quick/background.svg" />
      <div class="wrap-quick-donate-bottom">
        <img
          class="bush-left"
          src="@/assets/img/donation/quick/bush_left.png"
        />
        <img
          class="bush-right"
          src="@/assets/img/donation/quick/bush_right.png"
        />
      </div>
    </div>

    <!-- button -->
    <div class="wrap-next">
      <div class="fixed bottom-0 left-0 w-full">
        <div class="py-3 px-5 bg-white">
          <button class="btn-fill xl" :disabled="closeBox" @click="next">
            {{ $t("quick_donate.lang2") }}
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
// base
import BaseNavbar from "@/components/Base/Navbar.vue";
import { shuffle } from "lodash";
import { amountFormat } from "@/mixins/utils";

export default {
  name: "QuickDonateIndex",

  components: {
    BaseNavbar
  },

  data: () => ({
    closeBox: true,
    nominal: 0,
    projectId: null
  }),

  methods: {
    amountFormat,
    getRandomDonation() {
      const donation = [];
      this.$store
        .dispatch("quick/fetchRandomDonation")
        .then(res => {
          donation.push(res.minimum_donation.Option1);
          donation.push(res.minimum_donation.Option2);
          donation.push(res.minimum_donation.Option3);
          donation.push(res.minimum_donation.Option4);
          donation.push(res.minimum_donation.Option5);
          donation.push(res.minimum_donation.Option6);
          this.nominal = shuffle(donation)[0];
          this.projectId = res.project_id;
        })
        .catch(e => {
          console.error(e);
        });
    },
    next() {
      this.$router.push({
        path: "donateMoney.html",
        query: { project_id: this.projectId, quickDonate: this.nominal }
      });
    }
  },

  created() {
    this.getRandomDonation();
  }
};
</script>
<style lang="scss" scoped>
.close-box {
  height: 230px;
}

.open-box {
  height: 280px;
}

.nominal-box {
  height: 70px;
}

.nominal-wrapper {
  @apply absolute;
  @apply mt-4;
  @apply w-full;
  animation: nominal 0.6s;
}
@keyframes nominal {
  0% {
    opacity: 0;
    @apply mt-48;
  }
  25% {
    @apply ml-10;
  }
  50% {
    @apply -ml-12;
  }
  75% {
    @apply ml-12;
  }
  100% {
    opacity: 1;
    @apply mt-4;
    @apply ml-0;
  }
}
.wrap-quick-donate-bottom {
  @apply flex;
  @apply justify-between;
  @apply absolute;
  @apply bottom-0;
  @apply left-0;
  @apply w-full;
  margin-bottom: 60px;

  .bush-left {
    height: 110px;
    @media (min-width: 768px) {
      height: 150px;
    }
  }

  .bush-right {
    margin-top: 30px;
    height: 80px;
    @media (min-width: 768px) {
      height: 120px;
    }
  }
}
</style>
