* {
  box-sizing: border-box;
}

.custom-w-28 {
  width: 28%;
}

.btn-outlined,
.btn-fill {
  @apply border;
  @apply rounded-lg;
  @apply py-2;
  @apply text-sm;
  @apply font-bold;
  @apply w-full;
  transition: .3s;

  &.lg {
    @apply py-3;
  }

  &.xl {
    @apply py-3;
    @apply text-base;
  }

  &.normal { 
    @apply font-normal;
  }

  &.medium { 
    @apply font-medium;
  }
}

.wrap-upload {
  @apply flex;
  @apply flex-col;
  @apply items-center;
  @apply justify-center;
  @apply border;
  @apply border-app-primary;
  @apply rounded-md;
  @apply cursor-pointer;
  @apply overflow-hidden;
  @apply relative;
  width: 90px;
  height: 90px;

  img.upload {
    width: 30px;
  }

  img.file {
    @apply w-full;
    @apply h-full;
  }

  .overlay {
    @apply hidden;
  }

  &:hover .overlay {
    @apply w-full;
    @apply h-full;
    @apply absolute;
    @apply flex;
    @apply justify-center;
    @apply items-center;
    @apply text-white;
    @apply font-bold;
    background: rgba(0,0,0,0.7);
  }

  span {
    @apply mt-1;
    @apply text-app-primary;
  }

  .loading-bar {
		display: flex;
    margin: 0 6px;
		height: 10px;
		width: 80%;
		box-shadow: inset 0px 0px 0px 1px #C8C8CD;
		border-radius: 50px;
		overflow: hidden;
		
		@keyframes progress-animation {
			0% {width: 0%;}
			20% {width: 10%;}
			40% {width: 30%;}
			50% {width: 60%;}
			100% {width: 90%;}
		}

		.progress-bar {
      @apply flex;
      @apply bg-app-primary;
			height: 100%;
			width: 90%;
			animation: progress-animation 3s ease-in-out;
		}
	}  
}

.btn-outlined {
  @apply border-app-primary text-app-primary;
  @apply hover:text-white;
  @apply hover:bg-app-primary;
}

.btn-fill {
  @apply border-0;
  @apply bg-app-primary text-white;
  @apply hover:bg-app-primary-hover;
}

.divider {
  @apply w-full h-2;
  background: #f8f8f8;
}

.input,
.input-choice,
.input-icon {
  @apply w-full;
  @apply h-11;
  @apply text-sm;
  @apply bg-app-input;
  @apply rounded-md;
}


.text-area {
  @apply pt-2;
  @apply h-28;
}

.input {
  @apply px-3;
}

.input-choice {
  @apply px-3;
  @apply flex;
  @apply justify-between;
  @apply items-center;
  
  .placeholder {
    @apply text-app-placeholder;
  }

  img {
    @apply w-2;
  }

  .other-logo {
    width: auto;
    max-width: 55px;
    margin-top: -3px;
  }
}

.input-icon {
  @apply pl-3;
  @apply pr-9;
}

input::-webkit-input-placeholder { /* Edge */
  @apply text-app-placeholder;
}

input:-ms-input-placeholder { /* Internet Explorer */
  @apply text-app-placeholder;
}

input::placeholder {
  @apply text-app-placeholder;
}

.radio-button {
  @apply w-5 h-5;
  @apply rounded-full;
  @apply border border-gray-400;
  @apply relative;

  img {
    display: none;
  }

  &.active {
    @apply border border-app-primary;

    img {
      display: block;
      @apply absolute;
      width: 67%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.input-choice[error=true],
input[error=true],
.input[error=true],
.wrap-upload[error=true]{
  @apply border;
  @apply border-red-700;
}

button[disabled=disabled] {
  border-color: #e5e7eb !important;
  background-color: #e5e7eb !important;
  color: white !important;
}
