<template>
  <div class="wrap-campaign-report">
    <base-navbar :title="$t('global.report')" />
    <div class="px-5 pb-20">
      <div class="font-bold text-lg pt-4">
        {{ $t("campaign_report.lang5") }}
      </div>

      <!-- Nama Lengkap -->
      <form-group
        :label="$t('global.fullname')"
        class="mt-4"
        :validator="$v.form.fullName"
      >
        <input
          type="text"
          class="input"
          v-model="form.fullName"
          :placeholder="$t('global.fullname')"
          :error="$v.form.fullName.$error"
        />
      </form-group>

      <!-- Nomor Handphone -->
      <form-group
        :label="$t('global.phone_number')"
        class="mt-4"
        :validator="$v.form.phoneNumber"
      >
        <input
          type="text"
          class="input"
          v-model="form.phoneNumber"
          :placeholder="$t('global.phone_number')"
          :error="$v.form.phoneNumber.$error"
        />
      </form-group>

      <!-- Email -->
      <form-group label="Email" class="mt-4" :validator="$v.form.email">
        <input
          type="text"
          class="input"
          v-model="form.email"
          placeholder="Email"
          :error="$v.form.email.$error"
        />
      </form-group>

      <!-- Kategori Pelanggaran -->
      <div class="mt-4">
        {{ $t("global.category") }} {{ $t("campaign_report.lang3") }}
      </div>
      <form-group label="Kategori Pelanggaran" :validator="$v.form.category">
        <div
          class="input-choice mt-2"
          :error="$v.form.category.$error"
          @click="activeModal = true"
        >
          <span class="text-app-label" v-if="form.category">
            {{ categoryList[form.category - 1] }}
          </span>
          <span class="placeholder" v-else>
            {{ $t("global.choosed_category") }}
            {{ $t("campaign_report.lang3") }}
          </span>
          <img
            src="@/assets/img/general/icon-chevron-right.svg"
            alt="icon right"
          />
        </div>
      </form-group>

      <!-- Detail Laporan -->
      <div class="mt-4">{{ $t("campaign_report.lang4") }}</div>
      <form-group
        :label="$t('campaign_report.lang4')"
        class="mt-2"
        :validator="$v.form.detail"
      >
        <textarea
          v-model="form.detail"
          :placeholder="$t('campaign_report.lang1')"
          class="input text-area"
          :error="$v.form.detail.$error"
        ></textarea>
      </form-group>

      <!-- Foto Buku -->
      <div class="mt-3">
        {{ $t("campaign_report.lang2") }}
      </div>

      <div class="mt-3 font-bold">Upload {{ $t("global.photo") }}</div>

      <!-- Input file for edit -->
      <input
        type="file"
        style="display: none"
        ref="fileImage"
        accept="image/*"
        @change="onFilePickedImage"
      />

      <!-- Input file for new/add -->
      <input
        type="file"
        style="display: none"
        ref="fileImageNew"
        accept="image/*"
        @change="onFilePickedImageNew"
      />

      <div class="flex flex-wrap">
        <div class="mt-4" v-for="(data, index) in form.pictures" :key="index">
          <div v-if="form.pictures[0].file !== ''">
            <!-- photo available -->
            <div
              class="wrap-upload mr-3"
              v-if="data.file !== ''"
              @click="openFileBrowser(index, 'edit')"
            >
              <!-- if loading upload to api -->
              <div class="loading-bar" v-if="data.loading">
                <div class="progress-bar"></div>
              </div>
              <div class="w-full h-full" v-else>
                <div class="overlay">
                  Edit
                </div>
                <img :src="data.base64" alt="pictures" class="file" />
              </div>
            </div>
          </div>
        </div>
        <!-- photo not available -->
        <form-group
          :label="$t('global.photo')"
          class="mt-4"
          :validator="$v.form.pictures.$each.$iter[0].file"
        >
          <div
            v-if="form.pictures.length < 8"
            class="wrap-upload"
            :error="$v.form.pictures.$each.$iter[0].file.$error"
            @click="openFileBrowser(targetPicturesIndex, 'new')"
          >
            <!-- if loading upload to api -->
            <div class="loading-bar" v-if="loadingPicturesNew">
              <div class="progress-bar"></div>
            </div>
            <!-- default -->
            <div class="flex flex-col justify-center items-center" v-else>
              <img
                src="@/assets/img/general/upload.svg"
                alt="upload"
                class="upload"
              />
              <span class="text-xs">Upload</span>
            </div>
          </div>
        </form-group>
      </div>

      <div class="mb-4"></div>
    </div>

    <div class="absolute bottom-0 w-full bg-white">
      <div class="divider"></div>
      <div class="py-3 px-5">
        <button class="btn-fill xl" @click="next">
          Kirim
        </button>
      </div>
    </div>

    <modal
      :title="`${$t('global.category')} ${$t('campaign_report.lang3')}`"
      v-if="activeModal"
      @close="activeModal = false"
    >
      <div>
        <categoty-list
          :datas="categoryList"
          :choosed="form.category"
          @choosedItems="choosedItems"
        />
      </div>
    </modal>
  </div>
</template>
<script>
// vuex
import { mapGetters } from "vuex";

// validation
import { required, minLength, email, numeric } from "vuelidate/lib/validators";

// base
import BaseNavbar from "@/components/Base/Navbar.vue";
import FormGroup from "@/components/Base/FormGroup.vue";
import Modal from "@/components/Base/Modal.vue";
import CategotyList from "@/components/Campaign/Report/CategotyList.vue";

export default {
  name: "CampaignReport",

  components: {
    BaseNavbar,
    FormGroup,
    Modal,
    CategotyList
  },

  data: () => ({
    formData: new FormData(),
    activeModal: false,
    targetPicturesIndex: 0,
    loadingPicturesNew: false,
    form: {
      fullName: "",
      phoneNumber: "",
      email: "",
      category: null,
      detail: "",
      pictures: [
        {
          file: "",
          base64: "",
          loading: false
        }
      ]
    }
  }),

  computed: {
    ...mapGetters({
      categoryList: "report/category"
    })
  },

  validations: {
    form: {
      fullName: {
        required
      },
      phoneNumber: {
        required,
        numeric,
        minLength: minLength(10)
      },
      email: {
        required,
        email
      },
      category: {
        required
      },
      detail: {
        required
      },
      pictures: {
        required,
        minLength: minLength(1),
        $each: {
          file: {
            required
          }
        }
      }
    }
  },

  methods: {
    next() {
      this.$v.$touch();

      if (!this.$v.$invalid) {
        this.$showLoading();

        // file upload
        let file = [];
        this.form.pictures.forEach(element => {
          file.push({
            image: element.file
          });
        });

        // project id
        let projectId = this.$route.params.id;

        // payload
        let payload = {
          project_id: projectId,
          fullname: this.form.fullName,
          phone_number: this.form.phoneNumber,
          email: this.form.email,
          category_report: this.form.category,
          detail_report: this.form.detail,
          uploaded_pictures: file
        };

        this.$store
          .dispatch("report/reportCampaign", payload)
          .then(() => {
            this.$router.push({
              name: "SuccessReport",
              params: {
                project_id: projectId
              }
            });
          })
          .catch(e => {
            console.error(e);
          })
          .finally(() => {
            this.$hideLoading();
          });
      }
    },

    choosedItems(val) {
      // set value
      this.form.category = val;

      // close modal when after choosed
      this.activeModal = false;
    },

    // triggered open file browser
    openFileBrowser(val, type) {
      console.log("openFileBrowser");
      // if upload new file
      if (type === "new") {
        this.$refs.fileImageNew.click();
      }
      // edit file
      else {
        this.targetPicturesIndex = val;
        this.$refs.fileImage.click();
      }
    },

    // select photos
    onFilePickedImage(e) {
      console.log("onFilePickedImage");
      let files = e.target.files[0];

      if (files) {
        // max 8mb
        if (files.size / 1000000 > 8) {
          this.$showNotification(this.$t("global.max_file"));
        } else {
          this.formData.append("file", files);
          this.uploadFile(files, "edit");
        }
      }
    },

    // select photos
    onFilePickedImageNew(e) {
      console.log("onFilePickedImageNew");
      let files = e.target.files[0];

      if (files) {
        // max 8mb
        if (files.size / 1000000 > 8) {
          this.$showNotification(this.$t("global.max_file"));
        } else {
          this.formData.append("file", files);
          this.uploadFile(files, "new");
        }
      }
    },

    // upload file
    uploadFile(files, type) {
      if (this.form.pictures.length >= 1 && this.form.pictures[0].file !== "") {
        if (type === "new") {
          this.form.pictures.push({
            file: "",
            base64: "",
            loading: false
          });
        }
      }

      if (type === "new") {
        this.loadingPicturesNew = true;
      } else {
        this.form.pictures[this.targetPicturesIndex].loading = true;
      }

      this.$store
        .dispatch("report/uploadFile", this.formData)
        .then(res => {
          if (type === "new") {
            // resize file and get base64
            let countFile = this.form.pictures.length - 1;
            this.form.pictures[countFile].file = res.id;
            this.resizeFile(files, "new", countFile);
          } else {
            // resize file and get base64
            this.form.pictures[this.targetPicturesIndex].file = res.id;
            this.resizeFile(files, "edit", this.targetPicturesIndex);
          }

          this.formData = new FormData();
        })
        .catch(e => {
          // hapus array terakhir jika upload gagal atau tercancel
          if (type === "new") {
            this.form.pictures.pop();
          }
          this.$showNotification(this.$t("global.error_upload_file"));
          console.error(e);
        })
        .finally(() => {
          this.form.pictures[this.targetPicturesIndex].loading = false;
          this.loadingPicturesNew = false;
        });
    },

    // resize file base64
    resizeFile(files, type, indexTarget) {
      const fr = new FileReader();
      var self = this;
      fr.onload = function(readerEvent) {
        var image = new Image();
        image.onload = function() {
          var canvas = document.createElement("canvas");
          var maxSize = 544;
          var width = image.width;
          var height = image.height;
          if (width > height) {
            if (width > maxSize) {
              height *= maxSize / width;
              width = maxSize;
            }
          } else {
            if (height > maxSize) {
              width *= maxSize / height;
              height = maxSize;
            }
          }
          canvas.width = width;
          canvas.height = height;
          canvas.getContext("2d").drawImage(image, 0, 0, width, height);
          var dataUrl = canvas.toDataURL("image/jpeg");
          self.form.pictures[indexTarget].base64 = dataUrl;
        };
        image.src = readerEvent.target.result;
      };
      fr.readAsDataURL(files);
    }
  }
};
</script>
<style lang="scss" scoped>
.wrap-campaign-report {
  @apply min-h-screen;
  box-shadow: #ccc 0 2px 4px 0;
}
</style>
