<template>
  <div class="wrap-completed-report">
    <base-navbar
      :title="`${$t('global.report')} ${$t('global.campaign')}`"
      :route="backToCampaign('navbar')"
    />

    <!-- status berhasil -->
    <div class="flex flex-col justify-center items-center">
      <img
        src="@/assets/img/general/payment-success.svg"
        alt="payment success"
      />

      <div class="text-center">
        <div class="font-bold text-2xl pt-6 pb-3">
          {{ $t("campaign_report.lang6") }}
        </div>
        <div>{{ $t("global.thankyou") }}.</div>
        <div>{{ $t("campaign_report.lang7") }}.</div>
      </div>
      <div class="h-28"></div>
    </div>

    <div class="absolute bottom-0 w-full">
      <div class="divider"></div>
      <div class="py-3 px-5">
        <button class="btn-fill xl" @click="backToCampaign">
          {{ $t("global.back_to_campaign") }}
        </button>
      </div>
    </div>
  </div>
</template>
<script>
// base
import BaseNavbar from "@/components/Base/Navbar.vue";
// utils
import { routeToH5 } from "@/mixins/utils";

export default {
  name: "CompletedActivate",
  components: {
    BaseNavbar
  },

  data: () => ({
    completedStatus: null,
    modalPrivacy: false,
    modalTerms: false
  }),

  methods: {
    backToCampaign(access) {
      const projectId = this.$route.params.project_id;
      const location = `detail.html?project_id=${projectId}`;

      if (access === "navbar") {
        return routeToH5("main", location, true);
      } else {
        routeToH5("main", location);
      }
    }
  },

  created() {
    this.completedStatus = this.$route.params.status;
  }
};
</script>
<style lang="scss" scoped>
.wrap-completed-report {
  @apply px-4;
  @apply flex;
  @apply flex-col;
  @apply items-center;
  @apply justify-center;
  min-height: calc(100vh - 56px);
  box-shadow: #ccc 0 2px 4px 0;

  img {
    width: 250px;
  }
}
</style>
