<template>
  <div id="wrapper">
    <div class="page-wrapper">
      <div class="page-inner">
        <div class="wrapper">
          <router-view></router-view>
        </div>
      </div>

      <!-- base notification/toast -->
      <base-notification />
      <base-loading />
    </div>
  </div>
</template>

<script>
export default {
  name: "Wrapper"
};
</script>
<style lang="scss">
.page-wrapper {
  @apply relative;
  @apply min-h-screen;
  @apply m-auto;
  @apply bg-white;
  @apply max-w-screen-sm;

  .page-inner {
    @apply pt-14;
  }

  .wrapper {
    @apply w-full;
  }
}
</style>
<script>
export default {
  watch: {
    $route: {
      immediate: true,
      handler(to, from) {
        window.scrollTo(0, 0);
        document.title =
          to.meta.title ||
          "pedulisehat.id - Platform Donasi Kesehatan no. 1 Indonesia ";
      }
    }
  }
};
</script>
