<template>
  <div class="bottom-sheet">
    <!-- overlay -->
    <div class="overlay"></div>

    <div class="content">
      <div class="content-inner">
        <!-- title -->
        <div class="flex justify-between items-center px-4 mb-3">
          <p class="title" :class="titleCenter ? 'text-center' : ''">
            <span :class="small ? 'text-sm' : 'text-lg'">
              {{ title }}
            </span>
          </p>
          <img
            src="@/assets/img/general/icon-close-black.svg"
            class="w-3 cursor-pointer"
            alt="icon close"
            @click="close"
          />
        </div>

        <!-- slot content -->
        <slot></slot>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "BottomSheet",

  props: {
    title: {
      type: String,
      default: ""
    },
    titleCenter: {
      type: Boolean,
      default: false
    },
    small: {
      type: Boolean,
      default: false
    }
  },

  methods: {
    close() {
      this.$emit("close");
    }
  }
};
</script>
<style lang="scss" scoped>
.bottom-sheet {
  @apply block;
  @apply fixed;
  @apply top-0 left-0;
  @apply z-40;
  @apply h-screen;
  @apply w-full;

  .overlay {
    @apply absolute;
    @apply top-0 left-0;
    @apply z-40;
    @apply h-screen;
    @apply w-full;
    @apply bg-black;
    @apply opacity-80;
  }

  .content {
    @apply absolute;
    @apply bg-white;
    @apply m-auto;
    @apply z-50;
    @apply rounded-t-2xl;
    @apply bottom-0;
    @apply left-1/2;
    width: 100%;
    transform: translateX(-50%);

    // md
    @media (min-width: 768px) {
      width: 50%;
    }

    .content-inner {
      @apply overflow-auto;
      @apply pt-4;
      max-height: 380px;

      .title {
        @apply font-bold;
      }
    }
  }
}
</style>
