<template>
  <div>
    <div class="date-list">
      <div
        class="items"
        :class="choosed === data ? 'bg-app-secondary' : ''"
        v-for="data in 31"
        :key="data"
        @click="choosedItems(data)"
      >
        <p
          class="pl-3 font-bold"
          :class="choosed === data ? 'font-bold text-app-primary' : ''"
        >
          {{ data }}
        </p>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "DateList",

  props: {
    choosed: {
      type: Number,
      default: null
    }
  },

  methods: {
    choosedItems(val) {
      this.$emit("choosedItems", val);
    }
  }
};
</script>
<style lang="scss" scoped>
.date-list {
  @apply overflow-auto;
  @apply max-h-64;

  .items {
    @apply px-4;
    @apply text-base;
    @apply h-12;
    @apply flex;
    @apply items-center justify-center;
    @apply cursor-pointer;
    @apply hover:bg-app-secondary;
    border-bottom: 1px solid #eee;

    &:last-child {
      @apply border-b-0;
    }
  }
}
</style>
