<template>
  <div class="nav-wrapper">
    <div
      class="nav"
      :class="color || 'bg-white text-black border-b border-app-border'"
    >
      <div v-if="!hiddenBack">
        <img
          v-if="color"
          src="@/assets/img/general/icon-back-white.svg"
          alt="icon back"
          @click="goBack()"
        />
        <img
          v-else
          src="@/assets/img/general/icon-back-black.svg"
          alt="icon back"
          @click="goBack()"
        />
      </div>
      <span>{{ title }}</span>
    </div>
  </div>
</template>
<script>
export default {
  name: "Navbar",

  props: {
    title: {
      type: String,
      default: ""
    },
    color: {
      type: String,
      default: ""
    },
    route: {
      type: String,
      default: ""
    },
    routeComponent: {
      type: Object,
      default: () => {}
    },
    hiddenBack: {
      type: Boolean,
      default: false
    }
  },

  methods: {
    goBack() {
      if (this.route !== "") {
        location.href = this.route;
      } else if (this.routeComponent) {
        this.$router.push({
          name: this.routeComponent.name,
          params: this.routeComponent.params
        });
      } else {
        this.$router.go(-1);
      }
    }
  }
};
</script>
<style lang="scss" scoped>
.nav-wrapper {
  @apply fixed;
  @apply top-0;
  @apply left-0;
  @apply z-40;
  @apply w-full;

  .nav {
    @apply flex;
    @apply items-center;
    @apply text-base;
    @apply px-5;
    @apply font-semibold;
    @apply h-14;

    img {
      @apply mr-4;
      @apply w-5;
      @apply h-5;
      @apply cursor-pointer;
    }
  }
}
</style>
