<template>
  <div>
    <div class="payment-list">
      <!-- routine donation -->
      <div v-if="routineDonation">
        <div
          class="flex px-4 items-end border-b pb-2 pt-2"
          :class="choosed.subscription === true ? 'bg-app-secondary' : ''"
          @click="
            gopayBalance ? choosedSubscription(datas[datas.length - 1]) : ''
          "
        >
          <div class="w-3/5">
            <div class="font-bold pb-1">
              {{
                $t("global.subscription_arg", {
                  data: $t("routine_donation.lang1")
                })
              }}
            </div>
            <div class="text-app-label-4 text-xs font-bold">
              <span v-if="gopayBalance">
                {{ $t("routine_donation.lang7") }}
              </span>
              <span v-else>
                {{ $t("routine_donation.lang8") }}
              </span>
            </div>
          </div>
          <div class="w-2/5">
            <!-- connected -->
            <div v-if="gopayBalance">
              <div class="text-app-primary font-bold text-lg text-right">
                Rp {{ amountFormat(gopayBalance) }}
              </div>
            </div>
            <!-- not connected -->
            <div v-else>
              <button class="btn-fill medium">
                <span>Connect GO-PAY</span>
              </button>
            </div>
          </div>
        </div>
        <div class="text-app-label-4 text-xs font-bold px-4 pt-2 pb-2">
          {{ $t("routine_donation.lang9") }}
        </div>
        <!-- end routine donation -->
      </div>
      <div v-for="(data, index) in datas" :key="index">
        <!-- routineDonation && index != datas.length - 1 -->
        <!-- handle bug routine donation only -->
        <!-- handle bug background not active, if gopay notif change to gopay subscription -->
        <div
          v-if="routineDonation && index != datas.length - 1"
          class="items"
          :class="styleChoosed('background', data.bank_code)"
          @click="choosedItems(data)"
        >
          <img :src="JSON.parse(data.image).image" alt="logo payment" />
          <p class="pl-3" :class="styleChoosed('text', data.bank_code)">
            {{ data.channel_name }}
          </p>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { amountFormat } from "@/mixins/utils";

export default {
  name: "PaymentList",

  data: () => ({
    connect: true
  }),

  props: {
    datas: {
      type: Array,
      default: function() {
        return [];
      },
      required: true
    },
    choosed: {
      type: Object,
      default: () => {}
    },
    routineDonation: {
      type: Boolean,
      default: false
    },
    gopayBalance: {
      type: Number,
      default: 0
    }
  },

  methods: {
    amountFormat,
    styleChoosed(type, bankCode) {
      let result;
      // routine donation
      if (this.routineDonation) {
        // same bank_code
        if (this.choosed.bank_code === bankCode) {
          // gopay => only notification
          if (this.choosed.bank_code === "1") {
            // if notification
            if (!this.choosed.subscription) {
              if (type === "background") {
                result = "bg-app-secondary";
              } else {
                result = "font-bold text-app-primary";
              }
            }
          } else {
            if (type === "background") {
              result = "bg-app-secondary";
            } else {
              result = "font-bold text-app-primary";
            }
          }
        }
      }

      return result;
    },
    choosedSubscription(val) {
      val.subscription = true;
      this.$emit("choosedItems", val);
    },
    choosedItems(val) {
      // routine donation
      if (this.routineDonation) {
        val.subscription = false;
      }

      this.$emit("choosedItems", val);
    }
  }
};
</script>
<style lang="scss" scoped>
.payment-list {
  @apply overflow-auto;
  @apply max-h-64;

  .items {
    @apply px-4;
    @apply text-base;
    @apply h-12;
    @apply flex;
    @apply items-center;
    @apply cursor-pointer;
    @apply hover:bg-app-secondary;
    border-bottom: 1px solid #eee;

    img {
      max-width: 55px;
    }

    &:last-child {
      @apply border-b-0;
    }
  }
}
</style>
