<template>
  <div class="step-introducer">
    <div class="step-wrap focus">
      <div class="icon-wrap" :class="active <= 1 || 'transparent'">
        <div class="icon-inner">
          <div v-if="active <= 1">1</div>
          <div v-else class="finish"></div>
        </div>
      </div>
      <div class="step-content focus">
        {{ datas[0] }}
      </div>
    </div>

    <div class="dash-line" v-if="active <= 1"></div>
    <div class="solid-line" v-else></div>

    <div class="step-wrap" :class="active >= 2 ? 'focus' : 'un-focus'">
      <div class="icon-wrap" :class="active <= 2 || 'transparent'">
        <div class="icon-inner">
          <div v-if="active <= 2">2</div>
          <div v-else class="finish"></div>
        </div>
      </div>
      <div class="step-content" :class="active >= 2 ? 'focus' : 'un-focus'">
        {{ datas[1] }}
      </div>
    </div>

    <div class="dash-line" v-if="active <= 2"></div>
    <div class="solid-line" v-else></div>

    <div class="step-wrap" :class="active >= 3 ? 'focus' : 'un-focus'">
      <div class="icon-wrap">
        <div class="icon-inner">3</div>
      </div>
      <div class="step-content" :class="active >= 3 ? 'focus' : 'un-focus'">
        {{ datas[2] }}
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "StepIntroducer",

  props: {
    datas: {
      type: Array,
      default: function() {
        return [];
      },
      required: true
    },
    active: {
      type: Number,
      default: 0
    }
  }
};
</script>
<style lang="scss" scoped>
.step-introducer {
  @apply flex justify-between;

  .dash-line,
  .solid-line {
    @apply inline-block align-middle;
    @apply w-1/4;
    @apply h-5;
  }

  .dash-line {
    border-bottom: 1px dashed #cccccc;
  }

  .solid-line {
    @apply border-b border-solid border-app-primary;
  }

  .step-wrap {
    @apply inline-block align-middle w-28;

    .icon-wrap {
      .icon-inner {
        @apply relative;

        .finish {
          @apply absolute;
          @apply w-full h-full;
          background: url("../../assets/img/general/icon-checklist.svg")
            no-repeat;
          top: 11px;
          left: 11px;
          background-size: 12px;
        }
      }
    }

    .step-content {
      @apply text-center;
      @apply text-xs;
      line-height: 14px;
      @apply mt-3;

      &.focus {
        @apply text-app-primary;
      }

      &.un-focus {
        @apply text-app-label-2;
      }
    }

    &.focus {
      .icon-wrap {
        @apply m-auto;
        @apply w-11 h-11;
        @apply rounded-full;
        border: 6px solid rgba(67, 172, 67, 0.2);

        &.transparent {
          border-color: transparent !important;
        }

        .icon-inner {
          @apply bg-app-primary text-white;
          @apply w-8 h-8 leading-8;
          @apply rounded-full;
          @apply text-center;
        }
      }
    }

    &.un-focus {
      .icon-wrap {
        @apply m-auto;
        @apply w-11 h-11;
        @apply rounded-full;
        border: 6px solid transparent;

        .icon-inner {
          @apply w-8 h-8 leading-8;
          @apply rounded-full;
          @apply text-center;
          border: 1px solid #999;
          color: #999;
        }
      }
    }
  }
}
</style>
