<template>
  <div class="gtry-closed-index">
    <base-navbar title="Gotongroyong" />

    <div class="flex flex-col items-center">
      <img
        src="@/assets/img/general/pedulisehat-logo.svg"
        alt="pedulisehat logo"
        class="w-40 my-5"
      />

      <div class="px-5 pb-5">
        <div v-html="$t('gtry.lang1')"></div>
      </div>

      <div class="wrap-description">
        <img
          src="@/assets/img/gtry/closed/bg-hero.svg"
          class="bg-hero"
          alt="hero"
        />
        <img src="@/assets/img/gtry/closed/hero.svg" class="hero" alt="hero" />

        <div class="w-full px-5">
          <div class="wrap-text">
            <div
              class="text-black text-lg font-bold"
              v-html="$t('gtry.lang2')"
            ></div>
            <div class="pt-6" v-html="$t('gtry.lang13')"></div>
            <div class="pt-6" v-html="$t('gtry.lang12')"></div>
            <div class="pt-6">
              {{ $t("global.kind_regards") }},
              <br />
              <span class="font-bold">Pedulisehat.id</span>
            </div>

            <div
              class="p-4 border border-dashed border-app-primary rounded-md text-sm mt-10"
            >
              {{ $t("gtry.lang5") }} <br />
              <span class="font-bold text-app-primary"
                >help@pedulisehat.id</span
              >
            </div>
          </div>
        </div>
      </div>
      <div class="con-sponsored">
        <div class="bg-white mx-5 rounded-md my-4 pt-3 pb-4">
          <div class="text-center font-bold pb-2">
            {{ $t("global.monitored") }}
          </div>
          <div class="sponsored-wrapper">
            <img
              src="@/assets/img/general/kementrian-sosial.svg"
              alt="kementrian-sosial"
              class="kementrian-sosial"
            />
            <div class="line-horizontal"></div>
            <img
              src="@/assets/img/general/kominfo.svg"
              alt="kominfo"
              class="kominfo"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
// base
import BaseNavbar from "@/components/Base/Navbar.vue";

export default {
  name: "GtryClosedIndex",

  components: {
    BaseNavbar
  },

  data: () => ({
    isLoading: false
  })
};
</script>
<style lang="scss" scoped>
.gtry-closed-index {
  min-height: calc(100vh - 56px);
  box-shadow: #ccc 0 2px 4px 0;

  .wrap-description {
    @apply pt-6;
    @apply w-full;
    @apply flex flex-col;
    @apply items-center;
    background: #c2e1c2;

    .bg-hero {
      width: 300px;
      position: relative;
      z-index: 2;
      margin-bottom: -377px;
      margin-top: 40px;
    }

    .hero {
      @apply z-10;
      width: 240px;
      margin-left: -10px;
    }

    .wrap-text {
      @apply w-full;
      @apply bg-white;
      @apply px-5 pt-32 pb-4;
      @apply flex flex-col;
      @apply items-center;
      @apply rounded-md;
      @apply text-center;
      @apply relative;
      margin-top: -107px;
      z-index: 2;
    }
  }

  .con-sponsored {
    @apply w-full;
    background: #f8f8f8;
    padding-top: 77px;
    margin-top: -76px;

    .sponsored-wrapper {
      @apply flex;
      @apply justify-center;
      @apply items-center;
      @apply bg-white;

      .line-horizontal {
        width: 1px;
        @apply h-6;
        @apply bg-app-border;
        @apply mx-4;
      }

      img.kementrian-sosial {
        width: 31%;
      }
      img.kominfo {
        width: 52%;
      }
    }
  }
}
</style>
