<template>
  <div class="gtry-refund-form">
    <base-navbar title="GTRY Refund" />

    <div class="pt-5 px-5">
      <!-- information saldo -->
      <div class="text-center">
        <div class="text-xl font-bold pb-4">{{ $t("gtry.lang7") }}</div>
        <div class="text-app-label-4 text-sm pb-4">
          {{ $t("gtry.lang8") }}
        </div>

        <div
          class="text-app-primary bg-app-secondary rounded-xl p-3 text-3xl font-bold"
        >
          Rp {{ amountFormat(balance) }}
        </div>
      </div>

      <!-- form -->
      <div class="pt-8">
        <div class="font-bold">{{ $t("gtry.lang9") }}</div>
        <!-- Nama Bank -->
        <form-group
          :label="$t('global.name_arg', { data: 'Bank' })"
          :validator="$v.form.bankCode"
        >
          <div
            class="input-choice mt-4"
            :error="$v.form.bankCode.$error"
            @click="showModal(form.bankCode)"
          >
            <span class="text-app-label" v-if="form.bankCode">
              {{ namaBank }}
            </span>
            <span class="placeholder" v-else>
              {{ $t("global.name_arg", { data: "Bank" }) }}
            </span>
            <img
              src="@/assets/img/general/icon-chevron-right.svg"
              alt="icon right"
            />
          </div>
        </form-group>
        <!-- Nama Pemilik Rekening -->
        <form-group
          :label="$t('global.name_arg', { data: $t('global.account_owner') })"
          :validator="$v.form.namaPemilik"
        >
          <input
            type="text"
            class="input mt-4"
            v-model="form.namaPemilik"
            :placeholder="
              $t('global.name_arg', { data: $t('global.account_owner') })
            "
            :error="$v.form.namaPemilik.$error"
          />
        </form-group>
        <!-- Nomor Rekening -->
        <form-group
          :label="$t('global.account_number')"
          :validator="$v.form.nomorRekening"
        >
          <input
            type="tel"
            class="input mt-4"
            v-model="form.nomorRekening"
            :placeholder="$t('global.account_number')"
            :error="$v.form.nomorRekening.$error"
          />
        </form-group>
      </div>
    </div>

    <div class="wrap-refund">
      <button class="btn-fill xl" @click="next">
        {{ $t("global.next") }}
      </button>
    </div>

    <modal
      :title="$t('global.name_arg', { data: 'Bank' })"
      v-if="activeModal"
      @close="closeModal"
    >
      <div>
        <bank-list
          :datas="bankList"
          :choosed="choosedModal"
          @choosedItems="choosedItems"
        />
      </div>
    </modal>
  </div>
</template>
<script>
// base
import BaseNavbar from "@/components/Base/Navbar.vue";
import FormGroup from "@/components/Base/FormGroup.vue";
import Modal from "@/components/Base/Modal.vue";

// utils
import { amountFormat } from "@/mixins/utils";
import BankList from "@/components/Gtry/Closed/BankList.vue";

// validation
import { required, numeric } from "vuelidate/lib/validators";

export default {
  name: "GtryRefundIndex",

  components: {
    BaseNavbar,
    FormGroup,
    Modal,
    BankList
  },

  validations: {
    form: {
      bankCode: {
        required
      },
      namaPemilik: {
        required
      },
      nomorRekening: {
        required,
        numeric
      }
    }
  },

  data: () => ({
    isLoading: false,
    balance: null,
    bankList: [],
    namaBank: "",
    choosedModal: null,
    activeModal: false,
    form: {
      bankCode: "",
      namaPemilik: "",
      nomorRekening: ""
    }
  }),
  methods: {
    amountFormat,
    getBankList() {
      this.$store
        .dispatch("closed/fetchBankList", {})
        .then(res => {
          this.bankList = res;
        })
        .catch(e => {
          console.error(e);
        });
    },
    getBalanceWithdraw() {
      this.$showLoading();
      this.$store
        .dispatch("closed/fetchBalanceWithdraw", {})
        .then(res => {
          this.balance = res.balance;
        })
        .catch(e => {
          this.$showNotification(e.msg);
        })
        .finally(() => {
          this.$hideLoading();
        });
    },
    showModal(val) {
      this.choosedModal = val;
      this.activeModal = true;
    },

    closeModal() {
      this.activeModal = false;
    },

    choosedItems(val) {
      // set value
      this.form.bankCode = val.id;
      this.namaBank = val.name;

      // close modal when after choosed
      this.closeModal();
    },
    next() {
      this.$v.$touch();

      if (!this.$v.$invalid) {
        this.$showLoading();
        let payload = {
          bank: this.form.bankCode + "",
          no_rekening: this.form.nomorRekening,
          nama_rekening: this.form.namaPemilik
        };
        this.$store
          .dispatch("closed/withdrawRequest", payload)
          .then(() => {
            this.$router.push({ name: "GtryRefundProcess" });
          })
          .catch(e => {
            this.$showNotification(e.msg);
          })
          .finally(() => {
            this.$hideLoading();
          });
      }
    }
  },
  created() {
    this.getBalanceWithdraw();
    this.getBankList();
  }
};
</script>
<style lang="scss" scoped>
.gtry-refund-form {
  margin-top: -56px;
  min-height: calc(100vh - 56px + 56px);
  box-shadow: #ccc 0 2px 4px 0;

  .wrap-refund {
    @apply flex;
    @apply justify-center;
    @apply items-center;
    @apply bg-white;
    @apply py-3 px-4;
    @apply border-t;
    @apply border-app-border;
    @apply fixed;
    @apply bottom-0;
    @apply w-full;
    @apply max-w-screen-sm;
  }
}
</style>
