<template>
  <div class="gtry-refund-process">
    <base-navbar title="GTRY Refund" :route="backToHomePage('navbar')" />

    <div class="pt-5 px-5 flex flex-col items-center">
      <!-- information saldo -->
      <div class="text-center">
        <div class="text-xl font-bold pb-6">{{ $t("gtry.lang10") }}</div>
        <div class="text-app-label-4 text-sm pb-10">
          {{ $t("gtry.lang11") }}
        </div>
      </div>
      <img
        src="@/assets/img/gtry/closed/hero-process.svg"
        class="hero-process"
        alt="hero process"
      />
    </div>

    <div class="wrap-btn">
      <button class="btn-fill xl" @click="backToHomePage()">
        {{ $t("global.main_page") }}
      </button>
    </div>
  </div>
</template>
<script>
// base
import BaseNavbar from "@/components/Base/Navbar.vue";
import { routeToH5 } from "@/mixins/utils";

export default {
  name: "GtryRefundIndex",

  components: {
    BaseNavbar
  },

  data: () => ({
    isLoading: false
  }),
  methods: {
    backToHomePage(access) {
      if (access === "navbar") {
        return routeToH5("main", "", true);
      } else {
        routeToH5("main", "");
      }
    }
  }
};
</script>
<style lang="scss" scoped>
.gtry-refund-process {
  margin-top: -56px;
  min-height: calc(100vh - 56px + 56px);
  box-shadow: #ccc 0 2px 4px 0;

  .hero-process {
    @apply w-64;
    margin-left: -10px;
  }

  .wrap-btn {
    @apply flex;
    @apply justify-center;
    @apply items-center;
    @apply bg-white;
    @apply py-3 px-4;
    @apply border-t;
    @apply border-app-border;
    @apply fixed;
    @apply bottom-0;
    @apply w-full;
    @apply max-w-screen-sm;
  }
}
</style>
