<template>
  <div class="gtry-mygtry">
    <base-navbar title="Gotongroyong" />

    <div class="flex flex-col items-center">
      <img
        src="@/assets/img/general/pedulisehat-logo.svg"
        alt="pedulisehat logo"
        class="w-40 my-5"
      />

      <div class="px-5 pb-5 font-bold text-center">
        {{ $t("gtry.lang6") }}
      </div>

      <div class="wrap-description">
        <img
          src="@/assets/img/gtry/closed/hero-refund.svg"
          class="hero"
          alt="hero"
        />

        <div class="w-full px-5">
          <div class="wrap-text">
            <div
              class="text-black text-lg font-bold"
              v-html="$t('gtry.lang2')"
            ></div>
            <div class="pt-6" v-html="$t('gtry.lang3')"></div>
            <div class="pt-6" v-html="$t('gtry.lang4')"></div>
            <div class="pt-6" v-html="$t('gtry.lang12')"></div>
            <div class="pt-6">
              {{ $t("global.kind_regards") }},
              <br />
              <span class="font-bold">Pedulisehat.id</span>
            </div>
          </div>
        </div>
      </div>
      <div class="divider"></div>

      <div class="wrap-refund">
        <button class="btn-fill xl" @click="next">
          Refund
        </button>
      </div>
    </div>
  </div>
</template>
<script>
// base
import BaseNavbar from "@/components/Base/Navbar.vue";

export default {
  name: "GtryRefundIndex",

  components: {
    BaseNavbar
  },

  data: () => ({
    isLoading: false
  }),
  methods: {
    next() {
      this.$router.push({ name: "GtryRefundForm" });
    },
    checkIsWithdraw() {
      this.$showLoading();
      this.$store
        .dispatch("closed/checkIsWithdraw", {})
        .then(res => {
          if (res.is_requested) {
            this.$router.push({ name: "GtryRefundProcess" });
          }
        })
        .catch(e => {
          this.$showNotification(e.msg);
        })
        .finally(() => {
          this.$hideLoading();
        });
    }
  },
  created() {
    this.checkIsWithdraw();
  }
};
</script>
<style lang="scss" scoped>
.gtry-mygtry {
  min-height: calc(100vh - 56px);
  box-shadow: #ccc 0 2px 4px 0;

  .wrap-description {
    @apply pt-6;
    @apply pb-5;
    @apply w-full;
    @apply flex flex-col;
    @apply items-center;

    .hero {
      @apply z-10;
      @apply pb-5;
      width: 240px;
    }

    .wrap-text {
      @apply w-full;
      @apply px-5 pb-4;
      @apply flex flex-col;
      @apply items-center;
      @apply rounded-md;
      @apply text-center;
      @apply relative;
      z-index: 2;
    }
  }

  .con-sponsored {
    @apply w-full;
    background: #f8f8f8;
    padding-top: 77px;
    margin-top: -76px;

    .sponsored-wrapper {
      @apply flex;
      @apply justify-center;
      @apply items-center;
      @apply bg-white;

      .line-horizontal {
        width: 1px;
        @apply h-6;
        @apply bg-app-border;
        @apply mx-4;
      }

      img.kementrian-sosial {
        width: 31%;
      }
      img.kominfo {
        width: 52%;
      }
    }
  }

  .wrap-refund {
    @apply flex;
    @apply justify-center;
    @apply items-center;
    @apply bg-white;
    @apply py-3 px-4;
    @apply border-t;
    @apply border-app-border;
    @apply bottom-0;
    @apply w-full;
    @apply max-w-screen-sm;
  }
}
</style>
