<template>
  <div class="wrap-completed-payment">
    <base-navbar title="GO-PAY" :route-component="goBack" />

    <!-- status berhasil -->
    <div
      class="flex flex-col justify-center items-center"
      v-if="completedStatus === 'success'"
    >
      <img
        src="@/assets/img/general/payment-success.svg"
        alt="payment success"
      />

      <div class="text-center">
        <div class="font-bold text-2xl pt-6 pb-3">Tautan Anda berhasil!</div>
        <div class="text-sm">
          Sekarang, kamu dapat mulai melakukan donasi di Peduli Sehat dengan
          GOPAY
        </div>
      </div>
      <div class="h-28"></div>
    </div>

    <div class="absolute bottom-0 w-full">
      <!-- <div class="flex pb-3 font-medium">
        <div
          class="text-app-primary w-1/2 text-center cursor-pointer"
          @click="modalPrivacy = true"
        >
          Privacy Policy
        </div>
        <div
          class="text-app-primary w-1/2 text-center cursor-pointer"
          @click="modalTerms = true"
        >
          Terms and Condition
        </div>
      </div> -->
      <div class="divider"></div>
      <div class="py-3 px-5">
        <button class="btn-fill xl" @click="close">
          Tutup
        </button>
      </div>
    </div>

    <!-- end status berhasil -->

    <!-- status gagal -->

    <!-- end status gagal -->

    <!-- modal privacy -->
    <modal
      title="Privacy Policy"
      titleCenter
      v-if="modalPrivacy"
      @close="modalPrivacy = false"
    >
      <div class="px-4 pb-4">
        Mengsedih
      </div>
    </modal>
    <!-- end modal privacy -->

    <!-- modal terms-->
    <modal
      title="Terms and Condition"
      titleCenter
      v-if="modalTerms"
      @close="modalTerms = false"
    >
      <div class="px-4 pb-4">
        Menangis
      </div>
    </modal>
    <!-- end modal terms -->
  </div>
</template>
<script>
// base
import BaseNavbar from "@/components/Base/Navbar.vue";
import Modal from "@/components/Base/Modal.vue";

export default {
  name: "CompletedActivate",
  components: {
    BaseNavbar,
    Modal
  },

  data: () => ({
    completedStatus: null,
    modalPrivacy: false,
    modalTerms: false,
    goBack: {
      name: "GopayAccInformation",
      params: {}
    }
  }),

  methods: {
    close() {
      this.$router.push({ name: "GopayAccInformation" });
    }
  },

  created() {
    this.completedStatus = this.$route.params.status;
  }
};
</script>
<style lang="scss" scoped>
.wrap-completed-payment {
  @apply px-4;
  @apply flex;
  @apply flex-col;
  @apply items-center;
  @apply justify-center;
  min-height: calc(100vh - 56px);
  box-shadow: #ccc 0 2px 4px 0;

  img {
    width: 250px;
  }
}
</style>
