<template>
  <div class="gopay-activate">
    <base-navbar title="Saldo Pembayaran" :route="goBack()" />

    <div class="pt-16 px-6">
      <!-- information balance  -->
      <wrap-balance />

      <div class="flex justify-center items-center mt-6">
        <img
          class="w-56"
          src="@/assets/img/account/gopay/gopay-hero.svg"
          alt="gopay hero"
        />
      </div>

      <div class="font-bold text-lg pt-4 text-center">
        Hubungkan GOPAY-mu
      </div>

      <div class="text-center text-sm pt-2">
        Setelah terhubung, kamu dapat melihat saldo GOPAY-mu dan berdonasi lebih
        cepat.
      </div>
    </div>

    <div class="absolute bottom-0 w-full">
      <div class="divider"></div>
      <div class="py-3 px-5">
        <button class="btn-fill xl" @click="next">
          Aktifkan GOPAY Sekarang
        </button>
      </div>
    </div>
  </div>
</template>
<script>
// base
import BaseNavbar from "@/components/Base/Navbar.vue";

// components
import WrapBalance from "@/components/Account/Gopay/WrapBalance.vue";

// utils
import { getBrowserDevice } from "@/mixins/utils";

export default {
  name: "GopayActivate",

  components: {
    BaseNavbar,
    WrapBalance
  },

  data: () => ({
    isLoading: false
  }),
  methods: {
    getBrowserDevice,
    goBack() {
      if (process.env.VUE_APP_BASE_DOMAIN === "pre") {
        return `https://pre.pedulisehat.id/myProfile.html`;
      } else {
        return `https://www.pedulisehat.id/myProfile.html`;
      }
    },
    next() {
      this.$showLoading();
      this.$store
        .dispatch("gopay/gopayLinking", {})
        .then(res => {
          if (getBrowserDevice() === "Android-H5") {
            // activation-link-app
            location.href = `${res.actions[2].url}`;
          } else {
            // activation-link-url
            location.href = `${res.actions[1].url}`;
          }
        })
        .catch(e => {
          console.error(e);
        })
        .finally(() => {
          this.$hideLoading();
        });
    }
  }
};
</script>
<style lang="scss" scoped>
.gopay-activate {
  min-height: calc(100vh - 56px);
  box-shadow: #ccc 0 2px 4px 0;
}
</style>
