<template>
  <div class="gopay-activate">
    <base-navbar title="Saldo Pembayaran" :route="goBack()" />

    <div class="pt-16 px-6">
      <!-- information balance -->
      <div class="font-bold text-app-label-3 pb-3">Saldo Anda</div>
      <wrap-balance :active="true" :amount="balance" />
      <div class="w-full border-b border-app-disabled mt-8"></div>
    </div>

    <div class="absolute w-full px-6 bottom-0">
      <div class="text-xs text-app-label-4 text-center pb-4">
        To unlink GoPay from your Peduli Sehat app, you can
        <span class="text-app-primary cursor-pointer" @click="unlink()"
          >do it here.</span
        >
      </div>

      <!-- <div class="flex pb-3 font-medium pt-6 text-sm">
        <div
          class="text-app-primary w-1/2 text-center cursor-pointer"
          @click="modalPrivacy = true"
        >
          Privacy Policy
        </div>
        <div
          class="text-app-primary w-1/2 text-center cursor-pointer"
          @click="modalTerms = true"
        >
          Terms and Condition
        </div>
      </div> -->
    </div>
    <!-- modal privacy -->
    <modal
      title="Privacy Policy"
      titleCenter
      v-if="modalPrivacy"
      @close="modalPrivacy = false"
    >
      <div class="px-4 pb-4">
        Mengsedih
      </div>
    </modal>
    <!-- end modal privacy -->

    <!-- modal terms-->
    <modal
      title="Terms and Condition"
      titleCenter
      v-if="modalTerms"
      @close="modalTerms = false"
    >
      <div class="px-4 pb-4">
        Menangis
      </div>
    </modal>
    <!-- end modal terms -->
  </div>
</template>
<script>
// base
import BaseNavbar from "@/components/Base/Navbar.vue";

// components
import WrapBalance from "@/components/Account/Gopay/WrapBalance.vue";
import Modal from "@/components/Base/Modal.vue";

export default {
  name: "GopayActivate",

  components: {
    BaseNavbar,
    WrapBalance,
    Modal
  },

  data: () => ({
    isLoading: false,
    balance: null,
    modalTerms: false,
    modalPrivacy: false
  }),
  methods: {
    gopayBalance() {
      this.$showLoading();
      this.$store
        .dispatch("gopay/gopayBalance", {})
        .then(res => {
          if (res === null) {
            this.$router.push({ name: "GopayAccActivate" });
          }

          this.balance = Number(res.GopayBalance);
        })
        .catch(() => {
          this.$router.push({ name: "GopayAccActivate" });
        })
        .finally(() => {
          this.$hideLoading();
        });
    },
    goBack() {
      if (process.env.VUE_APP_BASE_DOMAIN === "pre") {
        return `https://pre.pedulisehat.id/myProfile.html`;
      } else {
        return `https://www.pedulisehat.id/myProfile.html`;
      }
    },
    unlink() {
      this.$showLoading();
      this.$store
        .dispatch("gopay/gopayUnlinking", {})
        .then(() => {
          this.$showNotification("Berhasil unlink gopay");
        })
        .catch(e => {
          console.error(e);
        })
        .finally(() => {
          this.$hideLoading();
          this.$router.push({ name: "GopayAccActivate" });
        });
    },
    next() {
      this.$router.push({ name: "GopayAccQrCode" });
    }
  },

  created() {
    this.gopayBalance();
  }
};
</script>
<style lang="scss" scoped>
.gopay-activate {
  min-height: calc(100vh - 56px);
  box-shadow: #ccc 0 2px 4px 0;
}
</style>
