<template>
  <div class="container-otp">
    <base-navbar title="GO-PAY" />

    <div class="flex justify-center pt-8 absolute top-14">
      <img
        src="@/assets/img/account/gopay/pedulisehat-logo.svg"
        alt="pedulisehat logo"
      />
    </div>

    <div class="wrap-otp">
      <div class="text-black font-bold text-xl">
        Enter OTP Code
      </div>
      <div class="pt-5">
        We’ve just sent the OTP code via SMS to
      </div>
      <div class="text-black font-bold">+62xxxxxxx7255</div>

      <div class="flex">
        <v-otp-input
          ref="otpInput"
          input-classes="otp-input"
          :num-inputs="6"
          separator=""
          :should-auto-focus="true"
          :is-input-num="true"
          @on-complete="handleOnComplete"
        />
      </div>

      <div class="mt-6 text-black">{{ counterDisplay }}</div>
      <div
        class="mt-1 text-lg font-bold"
        @click="resendOtp()"
        :class="
          counterDisplay === '00:00' ? 'text-app-primary' : 'text-gray-300'
        "
      >
        Resend OTP code
      </div>
    </div>

    <div class="absolute bottom-0 w-full">
      <div class="flex pb-3 font-medium">
        <div class="text-app-primary w-1/2 text-center cursor-pointer">
          Privacy Policy
        </div>
        <div class="text-app-primary w-1/2 text-center cursor-pointer">
          Terms and Condition
        </div>
      </div>
      <div class="divider"></div>
      <div class="py-3 px-5">
        <button class="btn-fill xl">
          Confirm
        </button>
      </div>
    </div>

    <!-- modal error -->
    <modal
      title="Kode OTP Salah"
      title-center
      v-if="activeModal"
      @close="closeModal"
    ></modal>
  </div>
</template>
<script>
// base
import BaseNavbar from "@/components/Base/Navbar.vue";
import Modal from "@/components/Base/Modal.vue";

export default {
  name: "GopayAccOtp",
  components: {
    BaseNavbar,
    Modal
  },

  data: () => ({
    otp: null,
    counterDisplay: "00:00",
    otpError: false,
    activeModal: false
  }),

  methods: {
    closeModal() {
      this.activeModal = false;
      this.handleClearInput();
    },
    sleep(ms) {
      return new Promise(resolve => setTimeout(resolve, ms));
    },
    async counter(s) {
      s = Number(s);
      while (s > 0) {
        s -= 1;
        this.counterDisplay = "00:" + this.pad(s);
        await this.sleep(1000);
      }
    },
    pad(num) {
      return ("0" + parseInt(num)).substr(-2);
    },
    resendOtp() {
      if (this.counterDisplay === "00:00") {
        // clear input
        this.handleClearInput();
        // reset time
        this.counter(30);
      }
    },
    handleOnComplete(value) {
      const correct = "123456";

      if (correct === value) {
        this.otp = value;
        this.submit();
      } else {
        this.activeModal = true;
        this.otpError = true;
      }
    },
    handleClearInput() {
      this.$refs.otpInput.clearInput();
    },
    submit() {
      this.$router.push({ name: "GopayAccPin" });
      //
    }
  },

  created() {
    this.counter(30);
  }
};
</script>
<style lang="scss">
.container-otp {
  @apply px-4;
  @apply flex;
  @apply justify-center;
  @apply items-center;
  min-height: calc(100vh - 56px);
  box-shadow: #ccc 0 2px 4px 0;

  img {
    width: 200px;
  }

  .wrap-otp {
    @apply flex;
    @apply flex-col;
    @apply items-center;
  }
}

.otp-input {
  @apply mt-6;
  @apply border border-app-primary;
  @apply rounded;
  @apply text-base;
  @apply text-center;
  @apply mx-1 p-1;
  @apply w-11 h-11;
  @apply font-bold;
  background: #f9fff9;
  &.error {
    border: 1px solid red !important;
  }
}
</style>
