<template>
  <div class="container-pin">
    <base-navbar title="GO-PAY" />

    <div class="wrap-pin">
      <div class="text-black font-bold text-xl">
        Enter your GoPay PIN
      </div>

      <div class="flex">
        <v-otp-input
          ref="otpInput"
          input-classes="pin-input"
          :num-inputs="6"
          separator=""
          input-type="password"
          :should-auto-focus="true"
          :is-input-num="true"
          @on-complete="handleOnComplete"
        />
      </div>

      <div class="h-14 w-full border-b border-app-border"></div>
    </div>

    <div class="text-sm text-app-label-2 ml-3 mt-4">
      <span class="font-bold">Peduli Sehat</span> wants to access this account:
    </div>

    <div class="flex items-center ml-3 mt-3">
      <div
        class="w-10 h-10 bg-app-placeholder border border-app-label-2 rounded-full mr-3"
      ></div>
      <div class="font-bold text-black">Username</div>
    </div>

    <div class="text-sm text-app-label-2 ml-3 mt-4">
      By confirming, you’ll allow <span class="font-bold">GoPay</span> to:
    </div>

    <div class="text-sm text-app-label-2 ml-3 mt-4 flex">
      <span class="mx-2 text-app-label-4">•</span>
      Provide access to your GoPay balance <br />
      via Peduli Sehat
    </div>

    <!-- modal error -->
    <modal
      title="PIN Gopay Salah"
      title-center
      v-if="pinError"
      @close="closeModal"
    ></modal>
  </div>
</template>
<script>
// base
import BaseNavbar from "@/components/Base/Navbar.vue";
import Modal from "@/components/Base/Modal.vue";

export default {
  name: "GopayAccOtp",
  components: {
    BaseNavbar,
    Modal
  },

  data: () => ({
    pin: null,
    pinError: false
  }),

  methods: {
    closeModal() {
      this.pinError = false;
      this.handleClearInput();
    },
    handleOnComplete(value) {
      const correct = "123456";

      if (correct === value) {
        this.pin = value;
        this.submit();
      } else {
        this.pinError = true;
      }
    },
    handleClearInput() {
      this.$refs.otpInput.clearInput();
    },
    submit() {
      this.$router.push({
        name: "GopayCompletedActivate",
        params: {
          status: "success"
        }
      });
    }
  }
};
</script>
<style lang="scss">
.container-pin {
  @apply px-4;
  min-height: calc(100vh - 56px);
  box-shadow: #ccc 0 2px 4px 0;

  img {
    width: 200px;
  }

  .wrap-pin {
    @apply flex;
    @apply flex-col;
    @apply items-center;
    @apply pt-9;
  }
}

.pin-input {
  @apply mt-6;
  @apply border-b border-app-label-4;
  @apply text-base;
  @apply text-center;
  @apply mx-3 p-1;
  @apply w-7 h-7;
  @apply font-bold;
  &.error {
    border: 1px solid red !important;
  }
}
</style>
