<template>
  <div class="wrap-qr-code">
    <base-navbar title="GO-PAY" />

    <div class="p-5 relative overflow-hidden">
      <!-- bg qr -->
      <img
        class="w-full"
        src="@/assets/img/account/gopay/banner-qr.svg"
        alt="banner qr code"
      />

      <div class="desc-scan">
        <span>
          Scan the Code to Link <br />
          Gopay to Peduli Sehat
        </span>
      </div>

      <!-- banner mobile -->
      <div class="banner-mobile">
        <!-- mobile image -->
        <img
          src="@/assets/img/account/gopay/banner-mobile.svg"
          alt="qr mobile"
        />

        <!-- qr code image -->
        <img :src="qrCode" class="qr-code" alt="qr code" />

        <!-- desc qr -->
        <div class="desc-qr">
          Scan this QR code using pay menu on Gojek app
        </div>
      </div>
    </div>

    <div class="divider"></div>

    <div class="px-5 pt-4">
      <div class="font-bold text-lg text-black">
        Bagaimana Cara Membayar?
      </div>
      <div class="text-app-primary text-sm pt-1">
        Silahkan selesaikan hubungkan GoPay-mu via aplikasi Gojek.
      </div>
    </div>

    <!-- step by step -->
    <div class="px-5 py-6">
      <div class="step">
        <!-- 1 -->
        <div class="flex">
          <div class="wrap-number">
            <div class="number">
              <span>1</span>
            </div>
          </div>
          <div class="bg-app-border rounded-lg pb-3 pt-2 px-3 wrap-text w-full">
            <div class="title text-black font-bold pb-2">Open Gojek app</div>
            <div class="desc text-black text-sm">
              Make sure you have the latest version GoJek app, and loggin into
              your account. If you haven’t Gojek app please install it first.
            </div>
          </div>
        </div>
        <!-- 2 -->
        <div class="flex pt-4">
          <div class="wrap-number">
            <div class="number">
              <span>2</span>
            </div>
          </div>
          <div class="bg-app-border rounded-lg pb-3 pt-2 px-3 wrap-text w-full">
            <div class="title text-black font-bold pb-2">Open Pay menu</div>
            <div class="desc text-black text-sm">
              Tap Pay icon on the GoPay menu bar, you will see cursor bar moving
            </div>
          </div>
        </div>
        <!-- 3 -->
        <div class="flex pt-4">
          <div class="wrap-number">
            <div class="number">
              <span>3</span>
            </div>
          </div>
          <div class="bg-app-border rounded-lg pb-3 pt-2 px-3 wrap-text w-full">
            <div class="title text-black font-bold pb-2">Scan QR Code</div>
            <div class="desc text-black text-sm">
              Scan above QR code with pay screen.
            </div>
          </div>
        </div>
        <!-- 4 -->
        <div class="flex pt-4">
          <div class="wrap-number">
            <div class="number">
              <span>4</span>
            </div>
          </div>
          <div class="bg-app-border rounded-lg pb-3 pt-2 px-3 wrap-text w-full">
            <div class="title text-black font-bold pb-2">
              Continue Linking on Gojek App
            </div>
            <div class="desc text-black text-sm">
              You will see a page that show your account number, make sure that
              is your account number is the correct one that you use want to
              link. And please proceed to authenticate your linking process to
              Peduli Sehat
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
// base
import BaseNavbar from "@/components/Base/Navbar.vue";

export default {
  name: "QrCode",

  components: {
    BaseNavbar
  },

  data: () => ({
    qrCode: ""
  }),
  methods: {
    next() {
      this.$router.push({
        name: "GopayCompletedActivate",
        params: {
          status: "success"
        }
      });
    },

    getQrCode() {
      this.$showLoading();
      let payload = decodeURIComponent(this.$route.params.qrcode);

      this.$store
        .dispatch("gopay/getQrCode", payload)
        .then(res => {
          this.qrCode = res;
        })
        .catch(e => {
          console.error(e);
        })
        .finally(() => {
          this.$hideLoading();
        });
    }
  },

  created() {
    this.getQrCode();
  }
};
</script>
<style lang="scss" scoped>
.wrap-qr-code {
  @apply min-h-screen;
  box-shadow: #ccc 0 2px 4px 0;

  .desc-scan {
    @apply flex;
    @apply justify-center items-center;
    @apply absolute;
    @apply text-xl;
    @apply font-bold;
    @apply text-white;
    top: 45%;
    width: 45%;
  }

  .banner-mobile {
    @apply absolute;
    @apply pb-5;
    @apply bottom-0;
    right: 10%;
    width: 33.5%;
  }

  .qr-code {
    @apply absolute;
    @apply left-1/2;
    @apply w-1/2;
    transform: translateX(-50%);
    top: 22%;
  }

  .desc-qr {
    @apply absolute;
    @apply left-1/2;
    @apply text-white;
    @apply font-medium;
    width: 102px;
    transform: translateX(-50%);
    top: 69%;
    line-height: 11px;
    font-size: 9px;
  }

  .step {
    .wrap-number {
      width: 54px;

      .number {
        @apply flex;
        @apply justify-center;
        @apply items-center;
        @apply text-white;
        @apply font-bold;
        @apply rounded-full;
        @apply mr-3;
        height: 32px;
        width: 32px;
        background: #4fc960;
      }
    }

    .wrap-text {
      height: 112px;
    }
  }
}
</style>
