<template>
  <div class="wrap-balance">
    <div
      class="w-1/2 flex justify-center items-center border-r border-app-placeholder"
    >
      <img
        v-if="active"
        src="@/assets/img/account/gopay/gopay-active.svg"
        alt="gopay disabled"
      />
      <img
        v-else
        src="@/assets/img/account/gopay/gopay-disabled.svg"
        alt="gopay disabled"
      />
    </div>
    <div
      v-if="active"
      class="w-1/2 flex justify-center items-center text-app-primary font-bold text-lg"
    >
      Rp {{ amountFormat(amount) }}
    </div>
  </div>
</template>
<script>
import { amountFormat } from "@/mixins/utils";
export default {
  name: "WrapBalance",

  props: {
    amount: {
      type: Number,
      default: 0
    },
    active: {
      type: Boolean,
      default: false
    }
  },

  methods: {
    amountFormat
  }
};
</script>
<style lang="scss" scoped>
.wrap-balance {
  @apply flex;
  @apply w-full;
  @apply rounded-full;
  @apply py-3;
  background: #f5f5f5;
  height: 60px;

  img {
    width: 100px;
  }
}
</style>
